<template>
    <div class="curtain" v-show="show">
        <div class="curtain-header clearfix">
            <div class="pull-left">
                <label class="radio-chkbx">
                    <input type="checkbox" v-model="value.checked">
                    <span>{{ label }}</span>
                </label>
            </div>
            <div class="pull-right" @click="toggle"><i :class="icon"></i></div>
        </div>
        <div class="curtain-body" v-show="opened">
            <table>
                <tr>
                    <td>Label</td>
                    <td colspan="2">
                        <input type="text" v-model="value.label"/>
                    </td>
                </tr>
                <tr>
                    <td>Y Position</td>
                    <td>
                        <slider
                            v-model="value.y"
                            :min="1"
                            :max="options.y.max"
                            :interval="1"
                            :speed="0.5"
                            :disabled="disabled"
                            :tooltip="false"
                            :real-time="true"
                            :show="opened"
                        >
                        </slider>
                    </td>
                    <td width="22px" align="center">
                        <span class="slider-value">{{ value.y }}</span>
                    </td>
                </tr>
                <tr>
                    <td>X Position</td>
                    <td>
                        <slider
                            v-model="value.x"
                            :min="0"
                            :max="40"
                            :interval="1"
                            :speed="0.5"
                            :disabled="disabled"
                            :tooltip="false"
                            :real-time="true"
                            :show="opened"
                        >
                        </slider>
                    </td>
                    <td width="22px" align="center">
                        <span class="slider-value">{{ value.x }}</span>
                    </td>
                </tr>
                <tr>
                    <td>Width</td>
                    <td>
                        <slider
                            v-model="value.width"
                            :min="1"
                            :max="40"
                            :interval="1"
                            :speed="0.5"
                            :disabled="disabled"
                            :tooltip="false"
                            :real-time="true"
                            :show="opened"
                        >
                        </slider>
                    </td>
                    <td width="22px" align="center">
                        <span class="slider-value">{{ value.width }}</span>
                    </td>
                </tr>
                <tr>
                    <td>Sequence in row</td>
                    <td>
                        <slider
                            v-model="value.sequenceInRow"
                            :min="1"
                            :max="12"
                            :interval="1"
                            :speed="0.5"
                            :disabled="disabled"
                            :tooltip="false"
                            :real-time="true"
                            :show="opened"
                        >
                        </slider>
                    </td>
                    <td width="22px" align="center">
                        <span class="slider-value">{{ value.sequenceInRow }}</span>
                    </td>
                </tr>
                <tr>
                    <td>Font Size</td>
                    <td>
                        <slider
                            v-model="value.font.size"
                            :min="8"
                            :max="25"
                            :interval="1"
                            :speed="0.5"
                            :disabled="disabled"
                            :tooltip="false"
                            :real-time="true"
                            :show="opened"
                        >
                        </slider>
                    </td>
                    <td width="22px" align="center">
                        <span class="slider-value">{{ value.font.size }}</span>
                    </td>
                </tr>
                <tr>
                    <td>Font Weight</td>
                    <td>
                        <button
                            :disabled="disabled"
                            :class="['btn btn-default', { selected: value.font.weight == 'bold' }]"
                            @click="value.font.weight = (value.font.weight != 'bold' ? 'bold' : '')">
                            <i class="fa fa-bold"></i>
                        </button>
                        <button
                            :disabled="disabled"
                            :class="['btn btn-default', { selected: value.font.style == 'italic' }]"
                            @click="value.font.style = (value.font.style != 'italic' ? 'italic' : '')">
                            <i class="fa fa-italic"></i>
                        </button>
                        <button
                            :disabled="disabled"
                            :class="['btn btn-default', { selected: value.font.decoration == 'underline' }]"
                            @click="value.font.decoration = (value.font.decoration != 'underline' ? 'underline' : '')">
                            <i class="fa fa-underline"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Alignment</td>
                    <td>
                        <button
                            :disabled="disabled"
                            :class="['btn btn-default', { selected: value.alignment == 'left' }]"
                            @click="value.alignment = (value.alignment != 'left' ? 'left' : '')">
                            <i class="fa fa-align-left"></i>
                        </button>
                        <button
                            :disabled="disabled"
                            :class="['btn btn-default', { selected: value.alignment == 'center' }]"
                            @click="value.alignment = (value.alignment != 'center' ? 'center' : '')">
                            <i class="fa fa-align-center"></i>
                        </button>
                        <button
                            :disabled="disabled"
                            :class="['btn btn-default', { selected: value.alignment == 'right' }]"
                            @click="value.alignment = (value.alignment != 'right' ? 'right' : '')">
                            <i class="fa fa-align-right"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Borders</td>
                    <td>
                        <button
                            :disabled="disabled"
                            :class="['btn btn-default', { selected: value.border.left }]"
                            @click="value.border.left = !value.border.left">
                            <img src="/images/svg/border_left_18px.svg">
                        </button>
                        <button
                            :disabled="disabled"
                            :class="['btn btn-default', { selected: value.border.right }]"
                            @click="value.border.right = !value.border.right">
                            <img src="/images/svg/border_right_18px.svg">
                        </button>
                        <button
                            :disabled="disabled"
                            :class="['btn btn-default', { selected: value.border.top }]"
                            @click="value.border.top = !value.border.top">
                            <img src="/images/svg/border_top_18px.svg">
                        </button>
                        <button
                            :disabled="disabled"
                            :class="['btn btn-default', { selected: value.border.bottom }]"
                            @click="value.border.bottom = !value.border.bottom">
                            <img src="/images/svg/border_bottom_18px.svg">
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    import Slider from 'vue-slider-component'

    export default {

        data: function(){
            return {
                disabled: true,
                icon: "fa fa-plus",
                opened: false
            }
        },

        components: {
            Slider
        },

        props: {
            label: {
                type: String,
                required: true,
            },
            value: {
                type: Object,
                required: true,
            },
            show: {
                type: Boolean,
                required: false,
                default: true
            },
            options: {
                type: Object,
                required: false,
                default: {
                    y: {
                        max: 20
                    }
                }
            }
        },

        mounted: function() {
            this.disabled = ! this.value.checked;
        },

        methods: {
            toggle() {
                this.opened = ! this.opened;
                this.icon = this.icon === 'fa fa-plus' ? 'fa fa-minus' : 'fa fa-plus';
            }
        },

        watch: {
            'value.checked': function(checked) {
                this.disabled = ! (checked);
            },
        },
    }
</script>

<style type="text/css">
    .curtain-header {
        background: #eaeaea;
        border: 1px #ccc solid;
        padding-left: 6px;
        padding-bottom: 4px;
    }
    .curtain-header .pull-left{
        margin-top: 2px;
        width: 80%;
    }
    .curtain-header .pull-right {
        border-radius: 2px;
        border: 1px transparent solid;
        padding: 1px 5px;
        margin-top: 3px;
        margin-right: 3px;
        transition: 0.4s
    }
    .curtain-header .pull-right:hover {
        background: #fff;
        border-color: #ccc;
        cursor: pointer;
    }
    .curtain-header.curtain-blue {
        background: #2978BC;
        border: 1px #1d5e93 solid;
        color: #fff;
    }
    .curtain-header.curtain-red {
        background: #D14947;
        border: 1px #a53333 solid;
        color: #fff;
    }
    .curtain-header.curtain-green {
        background: #136b23;
        border: 1px #0b4917 solid;
        color: #fff;
    }
    .curtain-body {
        border-left: 1px #ccc solid;
        border-bottom: 1px #ccc solid;
        border-right: 1px #ccc solid;
        padding: 3px;
    }
    .curtain-body > table {
        width: 100%;
    }
    .curtain-body > table td {
        padding: 3px;
        font-size: 11px;
        font-family: Arial;
    }
    .curtain-body .slider-value {
        display: block;
        background: #3498DB;
        border-radius: 3px;
        border: 1px #2573a8 solid;
        color: #fff;
        cursor: default;
        font-weight: bold;
        padding: 4px;
        text-align: center;
        width: 100%;
    }
    .curtain-body button {
        padding: 0px;
        width: 25px;
        height: 25px;
    }
</style>