<template>
    <div class="curtain" v-show="show">
        <div class="curtain-header clearfix">
            <div class="pull-left">
                <label class="radio-chkbx">
                    <input type="checkbox" v-model="value.checked">
                    <span>{{ label }}</span>
                </label>
            </div>
            <div class="pull-right"><i :class="icon" @click="toggle"></i></div>
        </div>
        <div class="curtain-body" v-show="opened">
            <table>
                <tr>
                    <td>Label</td>
                    <td colspan="2">
                        <input type="text" v-model="value.label">
                    </td>
                </tr>
                <tr>
                    <td>Width</td>
                    <td>
                        <slider 
                            v-model="value.width"
                            :min="1"
                            :max="100"
                            :real-time="true"
                            :interval="1"
                            :speed="0.5"
                            :disabled="disabled"
                            :tooltip="false"
                            :show="opened"
                        >
                        </slider>
                    </td>
                    <td width="22px" align="center">
                        <span class="slider-value">{{ value.width }}</span>
                    </td>
                </tr>
                <tr>
                    <td>Font Weight</td>
                    <td>
                        <button
                            :disabled="disabled"
                            :class="['btn btn-default', { selected: value.font.weight == 'bold' }]"
                            @click="value.font.weight = (value.font.weight != 'bold' ? 'bold' : '')">
                            <i class="fa fa-bold"></i>
                        </button>
                        <button
                            :disabled="disabled"
                            :class="['btn btn-default', { selected: value.font.style == 'italic' }]"
                            @click="value.font.style = (value.font.style != 'italic' ? 'italic' : '')">
                            <i class="fa fa-italic"></i>
                        </button>
                        <button
                            :disabled="disabled"
                            :class="['btn btn-default', { selected: value.font.decoration == 'underline' }]"
                            @click="value.font.decoration = (value.font.decoration != 'underline' ? 'underline' : '')">
                            <i class="fa fa-underline"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Sequence</td>
                    <td>
                        <slider 
                            v-model="value.sequence"
                            :min="1"
                            :max="12"
                            :real-time="true"
                            :interval="1"
                            :speed="0.5"
                            :disabled="disabled"
                            :tooltip="false"
                            :show="opened"
                        >
                        </slider>
                    </td>
                    <td width="22px" align="center">
                        <span class="slider-value">{{ value.sequence }}</span>
                    </td>
                </tr>
                <tr>
                    <td>Alignment</td>
                    <td>
                        <button
                            :disabled="disabled"
                            :class="['btn', { selected: value.alignment == 'left' }]" 
                            @click="value.alignment = (value.alignment != 'left' ? 'left' : '')">
                            <i class="fa fa-align-left"></i>
                        </button>
                        <button
                            :disabled="disabled"
                            :class="['btn', { selected: value.alignment == 'center' }]" 
                            @click="value.alignment = (value.alignment != 'center' ? 'center' : '')">
                            <i class="fa fa-align-center"></i>
                        </button>
                        <button
                            :disabled="disabled"
                            :class="['btn', { selected: value.alignment == 'right' }]" 
                            @click="value.alignment = (value.alignment != 'right' ? 'right' : '')">
                            <i class="fa fa-align-right"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    import Slider from 'vue-slider-component'

    export default {

        data: function(){
            return {
                disabled: true,
                icon: "fa fa-plus",
                opened: false
            }
        },

        components: {
            Slider
        },

        props: {
            label: {
                type: String,
                required: true,
            },
            value: {
                type: Object,
                required: true,
            },
            show: {
                type: Boolean,
                required: false,
                default: true
            }
        },

        mounted: function() {
            this.disabled = ! this.value.checked;
        },

        methods: {
            toggle() {
                this.opened = ! this.opened;
                this.icon = this.icon === 'fa fa-plus' ? 'fa fa-minus' : 'fa fa-plus';
            }
        },

        watch: {
            'value.checked': function(checked) {
                this.disabled = ! (checked);
            },
        },
    }
</script>

<style type="text/css">
    .curtain-header.curtain-blue {
        background: #2978BC;
        border: 1px #1d5e93 solid;
        color: #fff;
    }
    .curtain-header.curtain-red {
        background: #D14947;
        border: 1px #a53333 solid;
        color: #fff;
    }
    .curtain-header.curtain-green {
        background: #136b23;
        border: 1px #0b4917 solid;
        color: #fff;
    }
    .curtain-body > table {
        width: 100%;
    }
    .curtain-body > table td {
        padding: 3px;
        font-size: 11px;
        font-family: Arial;
    }
    .curtain-body {
        border-left: 1px #ccc solid;
        border-bottom: 1px #ccc solid;
        border-right: 1px #ccc solid;
        padding: 3px;
    }
    .slider-value {
        display: block;
        background: #3498DB;
        border-radius: 3px;
        border: 1px #2573a8 solid;
        color: #fff;
        cursor: default;
        font-weight: bold;
        padding: 4px;
        text-align: center;
        width: 100%;
    }
    .curtain .curtain-header .pull-left{
        margin-top: 2px;
        width: 80%;
    }
</style>