<template>
    <div class="v-dataTable" v-show="show">
        <div class="v-dataTable__scroller">
            <div class="message">
                <message type="danger" :show="message.error.any()" @close="message.reset()">
                    <ul>
                        <li v-for="(value, key) in message.error.get()" v-text="value"></li>
                    </ul>
                </message>
            </div>
            <table class="v-dataTable__table" :id="tableid" border="1">
                <thead v-if="withContent || !!$slots['input']">
                    <tr class="v-dataTable__tableHeaderRow">
                        <th class="v-dataTable__tableHeader" v-if="hasSelectOption()">
                            <input v-model="selectedAll" v-if="settings.withSelect.header" @click="toggleHeaderCheckBox($event.target.checked)" type="checkbox" class="v-dataTable__checkBox" />
                        </th>
                        <th class="v-dataTable__tableHeader" v-if="settings.withLineNumber">#</th>
                        <slot name="header"></slot>
                    </tr>
                </thead>
                <tbody>
                    <table-display
                        v-show="table.data.length > 0 && isDataToDisplay(data)"
                        v-for="(data, index) in localTable.data"
                        v-on:update="fireEvent"
                        v-on:destroy="fireEvent"
                        v-on:updateSelected="updateSelected"
                        v-bind:index="index"
                        v-bind:dataIndex="getActualIndexByPage(index)"
                        v-bind:passdata="data"
                        v-bind:selectedHolder="value"
                        v-bind:settings="settings"
                        v-bind:currentPage="table.pagination.current_page"
                        v-bind:tableid="tableid">
                        <slot name="display" :data="data" :index="index" :dataIndex="getActualIndexByPage(index)"></slot>
                    </table-display>
                    <tr class="v-dataTable__tableRow" v-if="!!$slots['input']">
                        <td v-if="settings.withLineNumber && !!$slots['input']"></td>
                        <slot name="input"></slot>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="v-dataTable__pagination" v-show='settings.withPaging'>
            <div class="pull-left">
                <table class="c-tbl-layout">
                    <tr>
                        <td><number-input class="v-dataTable__rowPerPage" v-model="settings.perPage" :precision="false" @keydown.native.enter="updateRecordPerPage()"> </number-input></td>
                    </tr>
                </table>
            </div>
            <div class="pull-right">
                <table class="c-tbl-layout">
                    <tr>
                        <td><input name="previous" type="button" class="v-dataTable__pageButton" :value="lang.t('label.previous')" @click="updatePage('previous')" ></td>
                        <td><number-input class="v-dataTable__pageNumber" v-model="table.pagination.current_page" :precision="false" @keydown.native.enter="updatePage('jump')"></number-input></td>
                        <td> / </td>
                        <td><span class="total-pages" v-html="table.pagination.total_pages"></span></td>
                        <td><input name="next" type="button" class="v-dataTable__pageButton" :value="lang.t('label.next')" @click="updatePage('next')" ></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import TableDisplay from '../Datatable/TableDisplay.vue';
    import NumberInput from '../NumberInput/NumberInput.vue';
    import Message from '../Message/Message.vue';
    import Axios from 'axios';
    import Locales from '../../vue-i18n-locales.generated.js';
    import VueInternalization from 'vue-i18n';

    Vue.use(VueInternalization);

    export default {

        data: function(){
            return {
                selectedAll: false,
                localTable: {},
                formattedDataTable : [],
                buffer : {
                    length: 0,
                    currentPage: 1,
                    perPage: 0,
                },
                message: new Notification,

                lang: new VueInternalization({
                    locale: Laravel.locale,
                    messages: Locales
                })
            }
        },

        components:{
            TableDisplay,
            NumberInput,
            Message
        },

        props: {
            tableid: {
                type: String,
                required: true,
            },

            settings: Object,
            value: {},

            table: {
                type: Object,
                required: true
            },

            show: {
                type: Boolean,
                required: false,
                default: true
            },

            searchondata: Object,
        },

        created: function() {
            this.setTableSettings();
        },

        mounted: function(){
            if(this.table.pagination.current_page === undefined) {
                this.table.pagination = Object.assign({
                    current_page: 1,
                    count: 1,
                    total_pages: 1
                })
            }

            //for no pagination datatable,
            //this will trigger data.table watcher
            //that will render datatable component
            //for checking if datatable has content or input value
            if(this.table.data.length == 0){
                this.table.data = [];
            }
        },

        methods: {
            /**
             * set defaults for datatable settings
             */
            setTableSettings() {
                this.settings.withPaging                = (this.settings.withPaging === undefined) ? false : this.settings.withPaging;
                this.settings.withPaginateCallBack      = (this.settings.withPaginateCallBack === undefined) ? true : this.settings.withPaginateCallBack;
                this.settings.withEdit                  = (this.settings.withEdit === undefined) ? true : this.settings.withEdit;
                this.settings.withDelete                = (this.settings.withDelete === undefined) ? true : this.settings.withDelete;
                this.settings.withActionCell            = (this.settings.withActionCell === undefined) ? true : this.settings.withActionCell;
                this.settings.withLineNumber            = (this.settings.withLineNumber === undefined) ? false : this.settings.withLineNumber;

                if(this.hasSelectOption()) {
                    if(this.settings.withSelect.header === undefined) {
                        this.settings.withSelect.header = true;
                    }
                }
            },

            /**
             * format table for no paginate callback datatables
             */
            formatTable(){
                var sets = new Object();
                var set = new Array();
                var setCounter = 0;

                this.localTable = Object.assign({}, this.table);

                this.formattedDataTable = [];

                for(var i = 0; i < this.localTable.data.length; i++) {
                    set.push(this.localTable.data[i]);

                    if((i + 1) % this.settings.perPage == 0 || (i + 1) >= this.localTable.data.length) {
                        setCounter++;
                        this.formattedDataTable[setCounter] = set;
                        set = new Array();
                    }
                }

                if(this.formattedDataTable.length > 0){
                    this.table.pagination.count = typeof this.formattedDataTable[this.table.pagination.current_page] !== 'undefined'
                        ? this.formattedDataTable[this.table.pagination.current_page].length
                        : 0;

                    this.table.pagination.per_page = this.settings.perPage;
                    this.table.pagination.total_pages = setCounter;
                }
                
                let page = this.table.pagination.current_page;

                //go to last page when adding
                if(this.buffer.length < this.localTable.data.length && this.buffer.length !== 0 && !!this.$slots['input']){
                    page = this.table.pagination.total_pages;
                }

                //go to previous page when current count of current page is Zero
                if(this.table.pagination.count === 0){
                   page  = this.table.pagination.current_page - 1;
                }

                this.table.pagination.current_page = page;
                this.localTable.data = this.formattedDataTable[this.table.pagination.current_page];
            },

            /**
             * update datatable data called when changing page
             * @param  {string} event
             */
            updatePage(event){
                let increment = 0;
                if(event == "previous") increment = -1;
                if(event == "next") increment = 1;

                let messages = this.validate(increment);
                
                if(messages.length) {
                    this.message.error.set(messages);
                    if(event == "jump") {
                        this.table.pagination.current_page = this.buffer.currentPage;
                    }
                    
                    return;
                }

                this.table.pagination.current_page = Numeric.parse(this.table.pagination.current_page) + Numeric.parse(increment);

                if(this.settings.withPaginateCallBack){
                    this.$emit('reload', this.table.pagination.current_page);
                }else{
                    this.localTable.data  = this.formattedDataTable[this.table.pagination.current_page];
                }

                this.callBackUpdate();
            },

            /**
             * updates record per page based on per page settings
             * @return {[type]} [description]
             */
            updateRecordPerPage(){
                let messages = this.validate(0);
                
                if(messages.length) {
                    this.message.error.set(messages);
                    this.settings.perPage = this.buffer.perPage;
                    return;
                }

                if(Numeric.parse(this.settings.perPage) <= 0 || this.settings.perPage.length == 0) {
                    this.settings.perPage  = 1;
                }

                if(this.settings.withPaginateCallBack){
                    this.$emit('reload');
                }else {
                    this.table.pagination.current_page = 1;
                    this.formatTable();
                }

                this.callBackUpdate()
            },

            /**
             * process all promises from updating page
             */
            callBackUpdate() {
                let that = this;

                if(that.settings.withPaginateCallBack){
                    Axios.all(Promises).then(function(response) {
                        DatatableDispatcher.$emit('updatePage');
                        Promises = [];
                    });

                    if(!this.hasSelectOption()
                        || this.settings.withSelect.value !== false
                    ) {
                        DatatableDispatcher.$emit('updatePage');
                    }
                }else{
                    setTimeout(function () {
                        DatatableDispatcher.$emit('updatePage');
                    }.bind(that), 3);
                }
            },

            fireEvent(event, data, index = 0, dataIndex = 0){
                this.$emit(event, data, index, dataIndex);
            },

            catchState(index, action){
                DatatableDispatcher.$emit('changeState', {index:index, action:action, tableid:this.tableid});
            },

            /**
             * change page validation
             * @param  {string} increment
             * @return {string} messages
             */
            validate(increment){
                let messages = [];

                if(!this.finalized()) {
                    messages.push(Lang.t('validation.finalize_all_rows'))
                };

                let page = Numeric.parse(this.table.pagination.current_page) + Numeric.parse(increment);

                if(
                    page  > this.table.pagination.total_pages || page < 1
                ){
                    messages.push(Lang.t('error.invalid_page'));
                }

                return messages;
            },

            getActualIndexByPage(index) {
                return (Numeric.parse(this.table.pagination.per_page) * (Numeric.parse(this.table.pagination.current_page) - 1)) + Numeric.parse(index); 
            },

            /**
             * checking if datatable is finalized and has no row on update state
             * @return {boolean} isFinalized
             */
            finalized() {
                let isFinalized = true;
                for(var i = 0; i  < this.$children.length; i++){
                    let child =  this.$children[i];
                    if(child.$options._componentTag == 'table-display' && child.$data.action == "update"){
                        isFinalized = false;
                        break;
                    }
                }

                return isFinalized;
            },

            /**
             * checking if data is to be displayed based on search parameters from searchondata prop
             * @param  data
             * @return {Boolean}
             */
            isDataToDisplay(data) {
                if(this.searchondata !== undefined) {
                    let regExp = new RegExp(this.searchondata.value, "i");
                    if(data[this.searchondata.key].match(regExp) == null) {
                        return false
                    }
                }

                return true;
            },

            /**
             * update selected items
             * @param  array holder
             */
            updateSelected(holder) {
                this.$emit('input', holder);
                this.$nextTick(() => {
                    this.checkHeader();
                })
            },

            /**
             * check if all value of local data is in the value variable
             */
            checkHeader() {
                let checked = true;

                if(!this.hasSelectOption()
                    || this.localTable.data === undefined
                    || !this.settings.withSelect.header
                ) {
                    return false;
                }

                for (var i = 0; i < this.localTable.data.length; i++) {
                    if(!Arr.in(this.localTable.data[i][this.settings.withSelect.value], this.value)) {
                        checked = false;
                    }
                }

                this.selectedAll = checked;
            },

            /**
             * toggle header check box 
             * @param  boolean checked
             */
            toggleHeaderCheckBox(checked) {
                let holder = [];

                if(checked) {
                    for (var i = 0; i < this.localTable.data.length; i++) {
                        holder[holder.length] = this.localTable.data[i][this.settings.withSelect.value];
                    }
                } else {
                    holder = [];
                }

                this.selectedAll = checked;
                this.$emit('input', holder);
            },

            hasSelectOption() {
                return this.settings.withSelect !== undefined;
            }
        },


        computed: {
            /**
             * check if datatable has content
             */
            withContent: function() {
                return this.table.data.length > 0;
            },
        },

        watch:{
            'table.data': {
                handler: function(val, oldVal) {
                    if(!this.settings.withPaginateCallBack) {
                        this.formatTable();
                        this.buffer.length = val.length
                    } else {
                        this.localTable = this.table;
                    }

                    if(this.hasSelectOption() && this.settings.withSelect.header) {
                        this.checkHeader();
                    }
                    
                },
                deep: true
            },

            'table.pagination.total_pages': {
                handler: function(){
                    if(this.table.pagination.total_pages === 0
                        || this.table.pagination.total_pages === undefined
                    ){
                        this.table.pagination.total_pages = 1;
                        this.table.pagination.current_page = 1;
                    }
                }
            },

            'table.pagination.current_page': {
                handler: function(value, old){
                    this.buffer.currentPage = old
                }
            },

            'settings.perPage': {
                handler: function(value, old){
                    if(old != '') {
                        this.buffer.perPage = old
                    }
                    
                }
            },

            'value' : {
                handler: function() {
                    this.checkHeader();
                }
            }
        },
    }
</script>

<style type="text/css">
    .v-dataTable {
        background-color: #E7EFF0;
        border-top: 1px #ccc solid;
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;
    }
    .v-dataTable__scroller {
        overflow: auto;
        flex: 1;
    }
    .v-dataTable__table {
        border-top: 1px transparent solid;
        border-bottom: none;
        border-left: 1px transparent solid;
        border-right: 1px #c5c5c5 solid;
    }
    .v-dataTable__pagination {
        padding: 3px;
        min-height: 38px;
        max-height: 38px;
        background-color: #fff;
        border-top: 1px #ccc solid;
        border-bottom: 1px #ccc solid;
    }
    .v-dataTable__pagination:before,
    .v-dataTable__pagination:after {
        content: " ";
        display: table;
    }
    .v-dataTable__pagination:after {
        clear: both;
    }
    .v-dataTable__pageNumber,
    .v-dataTable__rowPerPage {
        max-width: 60px;
    }
    .v-dataTable__pageButton {
        background-color: #036795;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 11px;
        border-radius: 3px;
        padding: 5px 8px 4px;
        font-family: H-Bold;
        text-transform: uppercase;
    }
    .v-dataTable__pageButton:hover {
        background-color: #1078a5;
    }
</style>
