<template>
    <td>
        <div>
            <slot></slot>
        </div>
    </td>
</template>

<script>
    export default {
        name: 'table-input',

        data: function() {
            return {

            }
        },
    }
</script>
