<template>
    <div class="v-dataTable__tableCellContent" @mouseover="toggleToolTip()">
        <span class="v-dataTable__tableCellText" ref="cellText">
            <slot content></slot>
        </span>
        <span class="v-dataTable__toolTip" v-show="toolTip.visible">
            <slot content></slot>
        </span>
    </div>
</template>

<script>
    export default {
        name: 'table-input',

        data: function() {
            return {
                toolTip: {
                    visible: false
                },
                timeout: null
            }
        },

        methods: {
            toggleToolTip() {
                this.toolTip.visible = this.toolTipVisibility();
            },

            toolTipVisibility() {
                if (this.$refs.cellText === undefined) {
                    return false;
                }

                this.$refs.cellText.style.display = "inline-block";

                let elementWidth = this.$refs.cellText.clientWidth + 7;
                let parentWidth = this.$el.parentElement.clientWidth;

                this.$refs.cellText.style.display = "inline";

                return elementWidth > parentWidth;
            }
        },
    }
</script>

<style type="text/css">
    .v-dataTable__toolTip {
        display: none;
        max-width: 300px;
        position: absolute;
        background: gray;
        padding: 5px 10px;
        color: #fff;
        z-index: 1;
        white-space: normal;
        word-break: break-all;
    }
    .v-dataTable__toolTip:empty {
        padding: 0px;
    }
    .v-dataTable__tableCell:hover .v-dataTable__toolTip {
        display: block;
    }
    .v-dataTable__tableCellContent {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .v-dataTable__inlineIcon {
        float: left;
        margin-top: 2px;
        margin-right: 5px;
    }
    .v-dataTable__tableCellText {
        display: inline-block;
    }
</style>