<template>
    <tr class="v-dataTable__tableRow">
        <td class="v-dataTable__tableCell v-dataTable__tableCell--action" v-if="hasSelectOption()">
            <div>
                <input v-if="settings.withSelect.value !== false" type="checkbox" class="v-dataTable__checkBox" :checked="selected()" @click="checkRow($event.target.checked)" />
            </div>
        </td>
        <td class="v-dataTable__tableCell v-dataTable__tableCell--lineNo" v-if="settings.withLineNumber"><span>{{lineNumber}}</span></td>
        <slot></slot>
        <td class="v-dataTable__tableCell v-dataTable__tableCell--action" v-if="settings.withActionCell" @click="fireEvent">
            <div>
                <img class="edit-image" :src="image">
            </div>
        </td>
    </tr>
</template>

<script>
    export default {

        name: 'table-display',

        props: {
            index: Number,
            dataIndex: Number,
            passdata: Object,
            settings: Object,
            currentPage: 0,
            tableid: String,
            selectedHolder: Array,
        },

        data: function() {
            return {
                image: '/images/icondelete.png',
                action: 'destroy',
                popup: {
                    context: document.querySelector('.pop')
                },
                bodyWidth: document.querySelector('body').getBoundingClientRect().width
            }
        },

        created: function() {
            DatatableDispatcher.$on('changeState', this.changeState);
            DatatableDispatcher.$on('updatePage', this.updatePage);
            this.validate("destroy");
        },

        methods: {
            changeState(emitValue) {
                if(this.index == emitValue.index && emitValue.tableid == this.tableid){
                    if(!this.validate(emitValue.action)) {
                        return false;
                    }

                    this.image = (emitValue.action == 'update') ? '/images/iconupdate.png':'/images/icondelete.png'
                    this.action = emitValue.action
                }
            },

            updatePage(){
                if(this.settings.withDelete) {
                    this.image = '/images/icondelete.png';
                    this.action = 'destroy';
                }
            },

            fireEvent(){
                if(!this.validate(this.action)){
                    return false;
                }

                this.$emit(this.action, this.action, this.passdata, this.index, this.dataIndex);
            },

            validate(action){
                if(action == 'destroy' && this.settings.withDelete == false){
                    this.image = "";
                    return false;
                }

                if(action == 'update' && this.settings.withEdit == false){
                    this.image = "";
                    return false;
                }

                return true;
            },

            checkRow(checked) {
                this.$emit('updateSelected', this.getSelected(checked));
                this.$forceUpdate();
            },

            selected() {
                let checked = '';

                if(this.settings.withSelect.value !== false){
                    let value = this.passdata[this.settings.withSelect.value];

                    if(Arr.in(value, this.selectedHolder)) {
                        checked = 'checked';
                    }
                }

                return checked
            },

            getSelected(checked) {
                let holder = this.selectedHolder;

                if(checked){
                    if(!Arr.in(this.passdata[this.settings.withSelect.value], holder)) {
                        holder[holder.length] = this.passdata[this.settings.withSelect.value];
                    }
                }else{
                    let that = this;
                    holder = holder.filter(
                        function(item){
                            return that.passdata[that.settings.withSelect.value] !=  item
                        }
                    )
                }

                return holder;
            },

            hasSelectOption() {
                return this.settings.withSelect !== undefined;
            }
        },

        computed: {
            lineNumber: function() {
                let lineNumber =  parseInt(this.index) + parseInt(1) + 
                    (parseInt(this.settings.perPage) 
                    * ( parseInt(this.currentPage) - parseInt(1)) );

                if(!isNaN(lineNumber)) {
                    return lineNumber;
                }
            },
        }
    }
</script>

<style type="text/css">
    .v-dataTable__tableRow {
        background-color: #fff;
        cursor: pointer;
        height: 24px;
    }
    .v-dataTable__tableRow:hover {
        background-color: #efefef;
    }
    .v-dataTable__tableCell {
        font-size: 11.5px;
        color: #222;
        border-color: #c5c5c5;
        padding: 3px;
        position: relative;
        font-weight: normal;
        white-space: nowrap;
    }
    .v-dataTable__tableCell--chosen {
        overflow: initial;
    }
    .v-dataTable__tableCell--chosen .chosen {
        min-width: 100% !important;
        max-width: initial;
    }
</style>