<template>
    <th class="v-dataTable__tableHeader">
        <div>
            <slot></slot>
        </div>
    </th>
</template>

<script>
    export default {
        name: 'table-header',

        data: function() {
            return {

            }
        }
    }
</script>

<style type="text/css">
    .v-dataTable__tableHeaderRow {
        background: #E4EEF7;
    }
    .v-dataTable__tableHeader {
        height: 25px;
        font-size: 12px;
        overflow: hidden;
        color: #222;
        border-color: #c5c5c5;
        padding: 3px;
        position: relative;
        font-weight: normal;
        white-space: nowrap;
        text-align: center;
    }
    .v-dataTable__checkBox {
        margin: 0px !important;
        position: relative;
        top: 2px;
    }
</style>
