// Buttons
=c-btn($bg-color : #f5f5f5, $hover : #ccc)
	background-color: $bg-color
	border: none
	color: #fff
	cursor: pointer
	font-size: 11px
	border-radius: 3px
	padding: 5px 8px 4px
	font-family: H-Bold
	text-transform: uppercase
	white-space: nowrap

	&[disabled]
		opacity: 0.6
		cursor: not-allowed

	&:hover
		background-color: $hover

.c-btn
	+c-btn

.c-btn
	&.c-default
		+c-btn(#fff, #E6E6E6)
		color: #222
		border: 1px #ccc solid
		font-size: initial

	&.c-lt-green
		+c-btn(#71BC21, #61a815)

	&.c-md-green
		+c-btn(#4FBC9D, #45a88a)

	&.c-dk-green
		+c-btn(#2ea063, #2d8254)

	&.c-lt-blue
		+c-btn(#84D4FF, #6fc6f2)

	&.c-md-blue
		+c-btn(#0576AA, #078bc4)

	&.c-dk-blue
		+c-btn(#036795, #1078a5)

	&.c-lt-red
		+c-btn(#F28A96, #e27680)

	&.c-md-red
		+c-btn(#EA5838, #d3482c)

	&.c-dk-red
		+c-btn(#C4142B, #ce3143)

.btn
	&.selected
		background-color: #ffe991

		&:active,
		&:hover
			cursor: default
			background-color: #ffe991