// Colors
.c-gradient-white
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 50%, #f6f6f6 100%) repeat scroll 0 0 !important

.c-tx-green
	color: green

.c-tx-red
	color: red

.fa-red
	color: #B54F48

.fa-green
	color: #1daf62

.fa-gold
	color: #D3AC1F

.link-green
	color: #1daf62

	&:focus
		color: #1daf62

	&:hover
		color: #137c45
		cursor: pointer

.link-red
	color: #B54F48

	&:focus
		color: #B54F48

	&:hover
		color: #9e3f38
		cursor: pointer

.link-blue
	color: #3594c4

	&:focus
		color: #3594c4

	&:hover
		color: #237daa
		cursor: pointer
