// Containers
.template-container
	position: relative
	flex: 1
	display: flex
	flex-direction: column
	margin-left: 10px
	position: relative
	border-left: 1px #ccc solid
	overflow: hidden

	&.scroll
		.container-1
			overflow: hidden

.single-container
	position: relative
	background: #fff
	flex: 1
	overflow: hidden
	display: flex
	flex-direction: column

	&.container-1
		overflow: initial

.c-container
	background: #fff

	&.c-bordered
		border-left: 1px #ccc solid

	&.c-shadowed
		box-shadow: 0 3px 10px -2px rgba(0,0,0,.3)

.c-content-group
	&.c-t
		padding-top: 5px

	&.c-b
		padding-bottom: 5px

	&.c-tb
		padding-top: 5px
		padding-bottom: 5px
		
	&.c-lr
		padding-left: 5px
		padding-right: 5px

.c-sub-header
	background: #f2f2f2
	font-family: H-Bold
	font-size: 12px
	padding: 5px 8px

	&.empty-height
		height: 28px

	.radio-chkbx
		position: relative
		top: -2px
		font-family: H-Bold

.c-sub-sidebar
	display: flex
	flex-direction: column
	overflow: auto
	border: 1px #ccc solid
	flex-basis: 22%

// Navigation Tabs
.c-nav-tabs
	position: relative
	background: #ddd
	border-top: 1px #ccc solid
	padding-top: 5px

	.c-nav-tab
		position: relative
		float: left
		border: 1px #ccc solid
		font-size: 12px
		padding: 2px 6px
		margin-left: 5px
		background: #fff
		border-top-left-radius: 4px
		border-top-right-radius: 4px
		top: 1px
		background: #E7EFF0
		cursor: pointer

		&:hover
			background: #DAE4E5

		&.active
			background: #fff
			border-bottom: 1px #fff solid
			cursor: default

.c-nav-tabs-container
	border-top: 1px #ccc solid

	>
		.c-nav-tabs-content
			overflow: auto
			flex: 1
			display: flex
			flex-direction: column
			padding-top: 5px
			position: relative

.c-ul-links
	margin-bottom: 0px
	padding-left: 0px

	li
		list-style: none
		cursor: pointer
		padding: 5px

		&:hover
			background: #f5f5f5
			color: #337ab7

		&.active
			background: #ddd
			color: #337ab7
			border-left: 3px #337ab7 solid

.c-sub-nav-content
	flex: 1
	display: flex
	padding: 5px
	overflow: hidden

.c-sub-main-content
	overflow: auto
	border: 1px #ccc solid
	display: flex
	flex-direction: column
	flex: 1
	margin-left: 5px

	.c-content
		display: flex
		flex-direction: column
		overflow: hidden

		&.c-active
			display: block

.c-form-group
	margin-bottom: 5px

	h5
		font-size: 12px
		font-family: H-Bold
		margin-top: 5px
		margin-bottom: 5px

.c-form-note
	color: green
	font-size: 11px
	font-family: Arial

// Curtain
.curtain-header
	background: #f2f2f2
	border: 1px #ccc solid
	padding-left: 6px
	padding-bottom: 4px

.curtain-header
	&.curtain-blue
		background: #2978BC
		border: 1px #1d5e93 solid
		color: #fff

	&.curtain-red
		background: #D14947
		border: 1px #a53333 solid
		color: #fff

	&.curtain-green
		background: #136b23
		border: 1px #0b4917 solid
		color: #fff

.curtain-body
	font-family: Arial
	border-left: 1px #ccc solid
	border-bottom: 1px #ccc solid
	border-right: 1px #ccc solid
