// Main header
#app-header
	background: #607386
	color: #fff
	font-size: 12px
	min-height: 30px
	max-height: 30px
	position: relative

	.c-version
		margin-top: 6px
		margin-left: 7px

		a
			margin-right: 5px

			&:hover,
			&:focus
				text-decoration: none

			span
				font-family: H-Bold
				font-size: 11px
				cursor: pointer

				&:hover
					background: #d14947

	.c-user-credentials
		.c-user-detail
			height: 30px

			&.c-user-menu
				.control-dropdown
					height: 30px
					background: transparent
					border: none
					transition: 0.4s
					float: left
					outline: none

					&:hover
						background-color: #445B71

				.control-group
					float: left
					position: relative

					.dropdown-menu
						left: initial
						right: 0px
						margin-top: 0px
						border-radius: 0px

						li
							font-size: 12px

							i
								font-size: 14px
								position: relative
								top: 1px

							a
								cursor: pointer

				.welcome,
				.guest
					float: left

				.welcome
					padding: 7px 4px 0px 7px

				.guest
					padding: 7px 7px 0px

			&.c-language
				padding-top: 7px
				padding-left: 7px
				padding-right: 7px

				span
					&:hover
						cursor: pointer
						color: #fff7ce

					&.c-active
						cursor: default
						color: #FFE332

		.c-user-btn
			.c-logout
				background: #d86c6c
				color: #fff
				font-size: 12px
				border-radius: 0px
				padding: 0px 7px
				height: 30px

				&:hover
					background: #ea7979

		.c-header-links
			a
				&:hover
					text-decoration: none

				&:last-child
					button
						margin-right: 0px

				button
					background: transparent
					border-color: transparent
					border-radius: 0px
					color: #fff
					font-size: 13px
					height: 30px
					margin: 0
					margin-right: -4px
					outline: none
					padding: 0px 8px
					transition: 0.4s

					&:hover
						background: #445B71
						border-color: transparent
						color: #fff

	.c-bl
		border-left: 1px #4d6175 solid

	.c-br
		border-right: 1px #4d6175 solid

// Login
#app
	&.c-login-body
		.page
			display: flex
			flex-direction: column
			flex: 1

			.c-login-content
				flex: 1

		.c-version
			span
				cursor: default

				&:hover
					background-color: #d9534f



.c-login
	.c-login-form
		background: #fff
		border-radius: 4px
		margin: 60px auto 0px
		padding: 15px 25px
		width: 30%
		font-size: 18px

.c-login-form
	.c-login-logo
		padding: 15px 0px

		img
			width: 90%

	.c-input
		font-size: 18px
		height: 45px
		padding: 6px 12px

		&:focus
			border-color: #66afe9

	.c-login-btn
		background: #54A35F
		border-radius: 4px
		border: none
		color: #fff
		font-size: 18px
		padding: 15px
		width: 100%
		text-transform: uppercase
		font-family: H-Bold

		&:hover
			background: #478950

.c-footer
	background: #1F6B89
	padding: 10px

	.c-logo
		float: left
		width: 175px

	.c-links
		float: right
		color: #fff
		font-size: 12px

		a
			color: #fff

			&:hover
				color: gold
				text-decoration: underline

			&:nth-of-type(1)
				margin-right: 10px

// Modals
#product-selector,
.selector
	.modal-wrapper
		.modal-container
			width: 970px
		.datatable
			width: 100%
			min-height: 390px
			max-height: 390px

#purchase-form
	.modal-wrapper
		.modal-container
			width: 850px

			.modal-body
				display: flex
				flex-direction: column
				height: 450px

#serial-number-form
	.modal-wrapper
		.modal-container
			width: 1050px
			.modal-body
				display: flex
				flex-direction: column
				height: 450px

#serial-number-selection,
#batch-number-selection
	.modal-wrapper
		.modal-container
			width: 900px
			.modal-body
				display: flex
				flex-direction: column
				height: 450px

				.action-buttons
					padding: 0px 15px
					width: 65px
					margin-top: 55px

					button
						width: 100%
						margin-top: 15px

				.datatable
					max-width: 398px

#warning-inventory
	.modal-container
		width: 600px

		.modal-body
			overflow: auto

// UDF
.udf-group
	overflow: auto
	height: 125px
	float: left

	input[type="text"]
		width: 110px

// Vue Datepicker override
.vdp-datepicker
	.vdp-datepicker__calendar
		width: 200px

		header
			line-height: 30px

		.cell
			float: left
			height: 25px
			line-height: 25px

// Transaction status label
.status-label
	position: absolute
	top: 4px
	right: 3px
	padding: 3px 5px !important
	font-size: 11px !important
	font-family: H-Bold
	font-weight: normal
	text-transform: uppercase

	&.new
		background: #d3ac1f
		border: 1px #967c1e solid

	&.for-approval
		background: #24A8B5
		border: 1px #19828c solid

	&.approved
		background: #71BC21
		border: 1px #508913 solid

	&.draft
		background: #1D7044
		border: 1px #0e492a solid

	&.declined
		background: #D3452C
		border: 1px #a8301e solid

	&.deleted
		background: #999999
		border: 1px #6d6d6d solid

// Custom report builder
#excel-settings-modal
	.modal-container
		width: 680px
	
	.modal-body
		display: flex
		flex-direction: column
		height: 460px
	
		h4
			margin-top: 5px
			margin-bottom: 5px

#report-builder
	margin-left: -5px

	>
		.wrapper
			margin-left: 5px
			display: flex
			flex-direction: column
			flex: 1

			.c-sub-header
				border-top: 1px #ccc solid
				border-left: 1px #ccc solid
				border-right: 1px #ccc solid
				padding: 5px

				.action-icon
					width: 17px

			&.fields
				.c-sub-header
					padding: 0px

				.tbl-design
					&.field-icons
						width: 96%
						border: none

				.c-sub-sidebar
					min-width: 350px

					input[type="checkbox"]
						-webkit-appearance: none
						-moz-appearance: none
						border: 1px #2c71aa solid
						background-color: #fff
						width: 15px
						height: 15px
						outline: none
						cursor: pointer

						&:checked
							background-color: #337ab7

				input[type="text"]
					font-family: H-Roman

			&.order-by
				.sortable-content
					.pull-left
						width: 107px

				.btn-order-by
					padding: 1px 4px
					position: relative
					right: -5px
					width: 40px

			&.total
				.c-sub-sidebar
					ul
						li
							list-style: none
							border: 1px #b8d0d6 solid
							background: #E7EFF0
							margin: 3px
							padding: 3px 8px
							cursor: default

	.c-sub-sidebar
		float: left
		overflow: auto
		flex: 1
		display: flex
		flex-direction: column

		ul
			padding: 0px
			list-style: none
			overflow: auto
			margin-bottom: 0px
			flex: 1

			li
				padding: 0px 8px
				font-size: 12px

			&.sortable
				li
					border: 1px #b8d0d6 solid
					background: #E7EFF0
					margin: 3px
					padding: 3px 8px
					cursor: move

					.radio-chkbx
						input
							margin-top: 0px

// Control Bar - File Attachments
.attachments
	.dropdown-menu
		overflow: hidden
		padding-top: 0px
		padding-bottom: 0px

	.file-list
		padding-left: 0px
		list-style: none
		width: 250px
		max-height: 138px
		overflow: auto

		li
			padding: 5px 10px

			.file-name
				width: 190px
				white-space: nowrap
				text-overflow: ellipsis
				overflow: hidden

			.fa-trash
				color: #aaaaaa

				&:hover
					color: #919191
					cursor: pointer

	.upload-btn
		background: #1078A5
		color: #fff
		font-family: H-Bold
		text-transform: uppercase
		padding: 5px 10px
		border: 1px #096187 solid

		label
			cursor: pointer
			margin-bottom: 0px
			text-align: center
			font-family: H-Bold
			display: block

		input[type="file"]
			display: none

		&:hover
			background: #0d6f99
			cursor: pointer

.user-image
	text-align: center

	label
		display: block
		margin-top: 5px

	input[type="file"]
		display: none

#alternative-item-dialog
	.modal-container
		width: 600px

.sortable
	padding: 0px
	list-style: none
	overflow: auto
	margin-bottom: 0px
	flex: 1

	li
		padding: 0px 8px
		font-size: 12px

	&.sortable
		li
			border: 1px #b8d0d6 solid
			background: #E7EFF0
			margin: 3px
			padding: 3px 8px
			cursor: move

#image-preview-modal
	.modal-container
		width: 940px

		img
			width: 100%
			padding: 0px
			border: none
			border-radius: none

		.modal-body
			overflow: auto

// Product Image Upload
.uploaded-files
	margin-top: -5px

	ul
		list-style: none
		padding-left: 0px

		li
			display: inline-block
			position: relative
			margin-left: 15px
			margin-top: 15px
			position: relative
			width: 147px
			height: 147px
			border: 1px #ccc solid
			padding: 5px
			border-radius: 4px

			&:not(.upload-plus)
				&:hover
					cursor: zoom-in
					background: #2d6184

			.fa-trash
				background: #EA7979
				color: #fff
				padding: 4px 6px
				position: absolute
				top: -8px
				right: -12px
				font-size: 14px
				border: 1px #d87070 solid
				border-radius: 20px

				&:hover
					background-color: #d87070
					cursor: pointer

			.img-border
				border: 1px #ccc solid
				height: 100%
				background-color: #f2f2f2
				overflow: hidden

				&.portrait
					img
						width: 80%

			img
				position: relative
				top: 50%
				transform: translateY(-50%)
				vertical-align: middle
				bottom: 0
				max-width: 100%
				height: auto
				margin: auto
				display: block
				background-color: initial

		.upload-plus
			vertical-align: top
			border: none
			padding: 0px

			label
				width: 150px
				height: 150px
				border: 1px #ccc solid
				position: relative
				border-radius: 4px
				background: #f2f2f2
				cursor: pointer
				margin-bottom: 0px
				text-align: center
				text-transform: uppercase
				font-family: H-Bold
				font-size: 16px
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center
				padding: 10px

				&:hover
					background: #dddddd
					cursor: pointer

			input[type="file"]
				display: none

#user-menu
	.curtain
		margin: 0px 3px 3px 3px
		flex: 1

		&.selected
			.curtain-header
				background: #5ec6f9

		.curtain-header
			background: #ceeeff
			border-color: #85c3e2

			.pull-left
				margin-top: 8px
				font-family: H-Bold
				max-width: 245px
				line-height: 1.2

			.pull-right
				margin-top: 3px
				margin-right: 4px

	.transfer-button
		margin: 220px 15px 0px

		button
			width: 100%

	.sidebar-section
		display: flex
		flex: 1
		flex-direction: column
		border: 1px #ccc solid
		overflow: hidden

		.c-sub-header
			height: 35px
			padding-right: 5px

			span
				display: block
				margin-top: 3px

		.sidebar-collection
			flex: 1
			overflow: auto
			display: flex
			flex-direction: column

			.curtain
				&:nth-of-type(1)
					margin-top: 3px

			.list
				padding: 0px 4px
				border-top: 1px transparent solid
				border-bottom: 1px transparent solid

				&:hover
					background: #e1e9ea
					border-top: 1px #c6d2d3 solid
					border-bottom: 1px #c6d2d3 solid

					.move-buttons
						display: inline-block

				.move-buttons
					display: none
					width: auto
					padding-top: 4px
					cursor: pointer

			.curtain-header
				.section-label-input
					position: relative
					top: 3px
					width: 250px
					margin-top: -8px

			.curtain-body
				max-height: 181px
				overflow: auto

				.fa-close
					color: #222
					padding: 4px 3px
					font-size: 12px
					cursor: pointer
					margin-left: 5px

			.sortable
				li
					border: initial
					background: initial
					margin: initial
					padding: initial

				.curtain
					margin: 3px

			.tree
				li
					line-height: 0px
					cursor: default

					&:hover
						background: initial
						cursor: default

					.selected
						background: #4286f4
						color: #fff
						border-top: 1px #3878e0 solid
						border-bottom: 1px #3878e0 solid

				span
					padding: 11px 3px
					height: 22px
					flex: 1

					&:hover
						cursor: pointer

.custom-menu
	display: flex
	flex-direction: column

	.tree
		div
			width: auto

		.node,
		.system-sprite
			width: 24px
			height: 24px

		li
			line-height: initial !important
			background: initial

			&:hover
				background: initial

			.list
				span
					padding-top: 5px

// Product Conversion
.convert-button
	margin-left: 5px
	margin-right: 5px
	margin-top: 140px
	width: 200px

	input[type="text"],
	button
		width: 100%
		height: 50px
		font-size: 24px
		border-radius: 0px
		text-align: center

	button
		text-transform: uppercase
		font-family: H-Bold

// Change Password Modal
#change-password
	.modal-container
		width: 350px

		input[type="password"]
			width: 200px

			&::placeholder
				color: #c4c4c4

// Changelogs
.changelogs
	padding-left: 10px
	padding-right: 420px
	overflow: auto
	font-size: 11px
	border-top: 1px #ccc solid

	&__version
		margin-top: 10px
		font-family: H-Bold

	&__subHeading
		margin-top: 5px
		padding-left: 20px
		font-family: H-Bold

#help-desk
	.modal-container
		width: 1120px

		.modal-header
			border: none

		.modal-body
			padding: 0px
			max-height: auto
			height: 470px
			display: flex
			flex-direction: column

			iframe
				border: none
				flex: 1


.incomeStatement
	font-size: 14px
	border-top: 1px #ccc solid
	padding: 5px

	&__branchName
		font-size: 18px
		margin-top: 15px
		margin-left: 5px
		font-family: H-Bold

	&__dateRange
		font-size: 16px
		margin-left: 5px
		text-transform: lowercase

	&__computation
		margin-top: 15px

		td
			padding: 5px


.transfer-excel-upload
	.dropdown-menu
		width: 277px
		padding: 1px 3px 2px

.view-logs
	.modal-container
		width: 910px !important

	.modal-body
		overflow: auto

		ul
			list-style: none
			padding-left: 0px

	.modal-footer
		display: none

#product-image-modal
	.modal-container
		width: 820px

		img
			width: 100%

		.modal-body
			padding: 0px

		.modal-footer
			display: none

#stock-request-filters
	.modal-container
		width: 370px