// Datatable
.table-design
	border: 1px #ccc solid

	&.full-width
		width: 100%

	&.hover-default
		tr
			&:hover
				background: initial
				cursor: default

	thead
		color: #3d3d3d
		border: 1px #ccc solid

		th
			padding: 3px
			border: 1px #ccc solid
			background: #E4EEF7
			font-size: 12px
			font-weight: normal

	tbody

		tr
			background-color: #fff

			&:hover
				background: #efefef
				cursor: pointer
		td
			padding: 3px
			color: #222
			border: 1px #ccc solid
			font-size: 12px

// Data table column
=datatable-field($align, $width)
	text-align: $align
	min-width: $width
	max-width: $width
	width: $width

	input[type="text"]
		text-align: $align
		min-width: 100%
		max-width: 100%

.v-dataTable__tableCell
	&--name
		+datatable-field(left, 220px)

	&--desc,
	&--address
		+datatable-field(left, 240px)

	&--code,
	&--status
		+datatable-field(left, 80px)

	&--cardId,
	&--barcode,
	&--stockNo,
	&--unitSpecs,
	&--deleted,
	&--gender
		+datatable-field(left, 100px)

	&--sheetNo,
	&--serialNo,
	&--checkNo,
	&--reference,
	&--requestedBy,
	&--modifiedBy,
	&--createdBy,
	&--auditedBy,
	&--selectType,
	&--udf
		+datatable-field(left, 120px)

	&--type,
	&--groupType,
	&--discountType,
	&--method,
	&--uom,
	&--supplier,
	&--category
		+datatable-field(left, 130px)

	&--email,
	&--location,
	&--userCode,
	&--pricingType,
	&--position,
	&--website
		+datatable-field(left, 160px)

	&--qty,
	&--measure,
	&--number,
	&--date,
	&--term
		+datatable-field(center, 100px)

	&--dateTime
		+datatable-field(center, 120px)

	&--contact,
	&--accountNo
		+datatable-field(center, 130px)

	&--amount,
	&--percent
		+datatable-field(right, 110px)

	&--longDesc
		+datatable-field(left, 540px)

	&--lineNo,
	&--action
		text-align: center
