// Forms
=c-default-form-element
	border-radius: 4px
	border: 1px #ccc solid
	display: block
	height: 25px
	padding: 0 5px
	width: 100%

	&:hover, &:focus
		border: 1px #acabab solid

input[type='text'],
input[type='number'],
input[type='password'],
select,
textarea
	+c-default-form-element

textarea
	height: initial
	resize: none

.c-tbl-layout
	&.maximize
		width: 100%

	&.leveled-tr
		tr
			height: 31px

	td
		font-size: 12px
		padding: 3px

.tbl-design
	border: 1px #ccc solid

	thead
		background-color: #E7EFF0
		border-color: #b8d0d6

		b
			font-family: H-Bold

	tbody
		border-color: #ccc
		cursor: default

	td
		padding: 5px
		border-color: #ccc

	&.hovered
		tbody tr:hover
			background-color: #f2f2f2

	&.full-width
		width: 100%

	&.horizontal-border
		tr
			border-top: 1px #ccc solid

.c-sub-header
	label.radio-chkbx
		font-family: H-Bold

label,
label.radio-chkbx
	font-family: H-Roman
	font-weight: normal !important
	margin-bottom: 0px

	input[type="checkbox"],
	input[type="radio"]
		position: relative
		top: 2px

label.radio-chkbx
	cursor: pointer

b
	font-family: H-Bold

.message
	display: flex
	align-items: center
	justify-content: center
	position: absolute
	top: 50%
	width: 100%

	.alert
		position: absolute

.c-input-group
	*
		float: left

	input[type="text"]
		width: 80%
		border-top-left-radius: 4px
		border-top-right-radius: 0px
		border-bottom-left-radius: 4px
		border-bottom-right-radius: 0px

	.input-group-addon
		width: 20%
		padding: 5.5px 0px
		font-size: 12px
		font-family: H-Bold

// Control bar
.dropdown-form
	padding-left: 5px
	padding-right: 5px

	input[type="text"]
		min-width: 130px

.required
	background-color: #fffad6

	option
		background-color: #fff

.field
	&__name
		width: 220px !important

	&__qty
		width: 80px !important
		text-align: center

	&__term
		width: 50px !important

	&__date,
	&__stockNo,
	&__barcode,
		width: 100px !important
