// Specific Form Elements
.c-width-60
	width: 60px !important
.c-date-80
	width: 80px !important

.c-width-50
	width: 50px !important

.c-date-100,
.c-width-100
	width: 100px !important

.c-width-130
	width: 130px !important

.c-width-150
	width: 150px !important

.c-width-180
	width: 180px !important

.c-width-200
	width: 200px !important

// Max width helper
.m-width-180
	max-width: 180px !important

// Margin Helpers
.c-mgt-5
	margin-top: 5px !important

.c-mgt-10
	margin-top: 10px !important

.c-mgt-30
	margin-top: 30px !important

.c-mgt-50
	margin-top: 50px !important

.c-mgb-5
	margin-bottom: 5px !important

.c-mgb-10
	margin-bottom: 10px !important

.c-mgl-5
	margin-left: 5px !important

.c-mgl-10
	margin-left: 10px !important

.c-mgl-15
	margin-left: 15px !important

.c-mgl-30
	margin-left: 30px !important

.c-mgr-5
	margin-right: 5px !important

.c-mgr-10
	margin-right: 10px !important

// Padding Helpers
.c-pdt-5
	padding-top: 5px !important

.c-pdt-10
	padding-top: 10px !important

.c-pdt-20
	padding-top: 20px

.c-pdb-5
	padding-bottom: 5px !important

.c-pdb-10
	padding-bottom: 10px !important

.c-pdl-5
	padding-left: 5px !important

.c-pdl-10
	padding-left: 10px !important

.c-pdl-30
	padding-left: 30px !important

.c-pdr-5
	padding-right: 5px !important

.c-pdr-10
	padding-right: 10px !important

.c-pda-10
	padding: 10px

.c-pda-20
	padding: 20px

// Hiding elements
.c-hide
	display: none

// Image helper
.c-img-1x1
	width: 100px
	height: 100px

// Borders helper
.c-all-b
	border: 1px #ccc solid

.c-no-bt
	border-top: none !important

.c-no-bb
	border-bottom: none !important

.c-no-bl
	border-left: none !important

.c-no-br
	border-right: none !important

.c-trans-bt
	border-top: 1px transparent solid !important

.c-trans-bb
	border-bottom: 1px transparent solid !important

.c-trans-bl
	border-left: 1px transparent solid !important

.c-trans-br
	border-right: 1px transparent solid !important

.c-has-bt
	border-top: 1px #ccc solid

.c-has-bb
	border-bottom: 1px #ccc solid

.c-has-bl
	border-left: 1px #ccc solid

.c-has-br
	border-right: 1px #ccc solid

// Flexbox Helper
.flex
	display: flex

.flex-column
	flex-direction: column

.flex-1
	flex: 1

.flex-0
	flex: 0

.flex-1-auto
	flex: 1 1 auto

.flex-0-auto
	flex: 0 0 auto

.overflow
	overflow: auto

.overflow-hidden
	overflow: hidden

.overflow-initial
	overflow: initial !important

.content-block
	flex: 1
	display: block

.ui-resizable-handle
	max-height: 5px
	min-height: 5px
	background-color: red
	position: static !important
	cursor: s-resize

.mask
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	display: flex
	align-items: center
	justify-content: center
	height: 100%

	&.page
		background-color: #fff
		z-index: 11001

	&.processing
		background-color: rgba(0, 0, 0, 0.2)
		z-index: 11000

.disabled-mask
	background-color: rgba(0, 0, 0, 0.2)
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 10
	cursor: not-allowed

	&.transparent
		background-color: transparent

.relative
	position: relative

.faded
	opacity: 0.7

// Font size
.fs-8
	font-size: 8px

.fs-9
	font-size: 9px

.fs-10
	font-size: 10px

.fs-11
	font-size: 11px

.fs-12
	font-size: 12px

.fs-13
	font-size: 13px

.fs-14
	font-size: 14px

.fs-15
	font-size: 15px

.fs-16
	font-size: 16px

.fs-17
	font-size: 17px

.fs-18
	font-size: 18px

.fs-19
	font-size: 19px

.fs-20
	font-size: 20px

.fs-21
	font-size: 21px

.fs-22
	font-size: 22px

.fs-23
	font-size: 23px

.fs-24
	font-size: 24px

.fs-25
	font-size: 25px

// Font weight
.font-weight-normal
	font-weight: normal

.font-weight-bold
	font-weight: bold

.font-style-italic
	font-style: italic

.text-decoration-underline
	text-decoration: underline

.text-decoration-overline
	text-decoration: overline

// Text transform
.to-upper
	text-transform: uppercase

.border-top
	border-top: 1px #222 solid

.border-bottom
	border-bottom: 1px #222 solid

.border-left
	border-left: 1px #222 solid

.border-right
	border-right: 1px #222 solid

// Text align
.text-left
	text-align: left !important

.text-center
	text-align: center !important

.text-right
	text-align: right !important

// Display
.inline
	display: inline-block !important
	width: auto

.equation-line
	border-top: 1px #3f3f3f solid

.ws-nowrap
	white-space: nowrap !important;

.ws-normal
	white-space: normal !important;

// Cursor
.cursor-pointer
	cursor: pointer

// Datepicker text alignment
.date-center
	input[type="text"]
		text-align: center