// Modal Design
.modal-header h4
	font-family: H-Bold
	font-size: 14px
	text-transform: uppercase

.modal-header
	min-height: 16.42857143px
	padding: 15px
	border-bottom: 1px solid #e5e5e5
	background: #026391
	color: #fff
	border-top-left-radius: 4px
	border-top-right-radius: 4px

// Modal z-index
.modal-section
	>
		div:nth-of-type(1)
			.modal-mask
				z-index: 9998
			.modal-container
				z-index: 9999

		div:nth-of-type(2)
			.modal-mask
				z-index: 10000
			.modal-container
				z-index: 10001

		div:nth-of-type(3)
			.modal-mask
				z-index: 10002
			.modal-container
				z-index: 10003

		div:nth-of-type(4)
			.modal-mask
				z-index: 10004
			.modal-container
				z-index: 10005

		div:nth-of-type(5)
			.modal-mask
				z-index: 10006
			.modal-container
				z-index: 10007

		div:nth-of-type(6)
			.modal-mask
				z-index: 10008
			.modal-container
				z-index: 10009

		div:nth-of-type(7)
			.modal-mask
				z-index: 10010
			.modal-container
				z-index: 10011

		div:nth-of-type(8)
			.modal-mask
				z-index: 10012
			.modal-container
				z-index: 10013

		div:nth-of-type(9)
			.modal-mask
				z-index: 10014
			.modal-container
				z-index: 10015

		div:nth-of-type(10)
			.modal-mask
				z-index: 10016
			.modal-container
				z-index: 10017

		div:nth-of-type(11)
			.modal-mask
				z-index: 10018
			.modal-container
				z-index: 10019

		div:nth-of-type(12)
			.modal-mask
				z-index: 10020
			.modal-container
				z-index: 10021

		div:nth-of-type(13)
			.modal-mask
				z-index: 10022
			.modal-container
				z-index: 10023
		
		div:nth-of-type(14)
			.modal-mask
				z-index: 10024
			.modal-container
				z-index: 10025

		div:nth-of-type(15)
			.modal-mask
				z-index: 10026
			.modal-container
				z-index: 10027

		div:nth-of-type(16)
			.modal-mask
				z-index: 10028
			.modal-container
				z-index: 10029

		div:nth-of-type(17)
			.modal-mask
				z-index: 10030
			.modal-container
				z-index: 10031

		div:nth-of-type(18)
			.modal-mask
				z-index: 10032
			.modal-container
				z-index: 10033

		div:nth-of-type(19)
			.modal-mask
				z-index: 10034
			.modal-container
				z-index: 10035

		div:nth-of-type(20)
			.modal-mask
				z-index: 10036
			.modal-container
				z-index: 10037

.modal-body
	max-height: 470px
	display: flex
	flex-direction: column

.fixed-height
	.modal-body
		height: 470px