// Nelsoft Module Sprites
.system-sprite
	background-image: url('/images/sprites/nelsoft-sprites.png')
	background-repeat: no-repeat
	width: 24px
	height: 24px
	display: block

	&.audittrail
		background-position: -5px -5px

	&.bank
		background-position: -39px -5px

	&.bankaccount
		background-position: -73px -5px

	&.branch
		background-position: -107px -5px

	&.brand
		background-position: -141px -5px

	&.category
		background-position: -175px -5px

	&.collection
		background-position: -209px -5px

	&.counter
		background-position: -5px -39px

	&.customer
		background-position: -39px -39px

	&.customreportbuilder
		background-position: -73px -39px

	&.damage
		background-position: -107px -39px

	&.damageoutbound
		background-position: -141px -39px

	&.exceltemplate
		background-position: -175px -39px

	&.folder-closed
		background-position: -209px -39px

	&.folder-opened
		background-position: -5px -73px

	&.giftcheck
		background-position: -39px -73px

	&.incometype
		background-position: -73px -73px

	&.inventoryadjust
		background-position: -107px -73px

	&.issuedcheck
		background-position: -141px -73px

	&.line
		background-position: -175px -73px

	&.member
		background-position: -209px -73px

	&.memberrate
		background-position: -5px -107px

	&.node
		background-position: -39px -107px

	&.otherpayment,
	&.otherincome,
		background-position: -73px -107px

	&.payment
		background-position: -107px -107px

	&.paymenttype
		background-position: -141px -107px

	&.printouttemplate
		background-position: -175px -107px

	&.product
		background-position: -209px -107px

	&.productconversion
		background-position: -5px -141px

	&.productdiscount
		background-position: -39px -141px

	&.purchase,
	&.purchaseorder
		background-position: -73px -141px

	&.purchaseinbound
		background-position: -107px -141px

	&.purchasereturn
		background-position: -141px -141px

	&.purchasereturnoutbound
		background-position: -175px -141px

	&.reason
		background-position: -209px -141px

	&.receivedcheck
		background-position: -5px -175px

	&.customerproductprice,
	&.customerbalance,
	&.supplierproductprice,
	&.supplierbalance,
	&.productinventoryvalue,
	&.productinventorywarning,
	&.suppliermonthlysalesranking,
	&.categorymonthlysalesranking,
	&.brandmonthlysalesranking,
	&.productmonthlysalesranking,
	&.productserialtransactionreport,
	&.productperiodicsalesreport,
	&.cashtransaction,
	&.productbranchinventoryreport,
	&.salesman,
	&.banktransaction,
	&.incomestatement,
	&.producttransactionlistreport,
	&.negativeprofitproductreport,
	&.memberreport,
	&.paymentduewarning,
	&.collectionduewarning,
	&.discountsummaryreport,
	&.seniortransactionreport,
	&.possummaryposting,
	&.datacollector,
	&.salesmanreport,
	&.possalesreport,
	&.report
		background-position: -39px -175px

	&.role
		background-position: -73px -175px

	&.sales
		background-position: -107px -175px

	&.salesoutbound
		background-position: -141px -175px

	&.salesreturn
		background-position: -175px -175px

	&.salesreturninbound
		background-position: -209px -175px

	&.stockdelivery
		background-position: -5px -209px

	&.stockdeliveryinbound
		background-position: -39px -209px

	&.stockdeliveryoutbound,
	&.stockdeliveryoutboundto
		background-position: -73px -209px

	&.stockdeliveryoutboundfrom
		background-position: -107px -209px

	&.stockrequestfrom
		background-position: -141px -209px

	&.stockrequestto
		background-position: -175px -209px

	&.stockreturn
		background-position: -209px -209px

	&.stockreturninbound
		background-position: -243px -5px

	&.stockreturnoutbound
		background-position: -243px -39px

	&.supplier
		background-position: -243px -73px

	&.uom
		background-position: -243px -107px

	&.user
		background-position: -243px -141px