// Printout Preview template
#print
	body
		margin: 0
		padding: 0
		font-family: Arial
		font-size: 12px
		background-color: #eee
		overflow: auto
		height: auto

	div.page-break
		page-break-after: always

	h1
		page-break-before: always

	h1, h2, h3, h4, h5, h6
		page-break-after: avoid

	p
		margin: 0

	p + p
		margin-top: 0.5cm

	a
		text-decoration: none
		color: black

	.printout-page
		margin: 1cm auto
		background: #FFF
		box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2)
		outline: 0

.printout-page
	margin: 1cm auto
	position: relative
	display: flex

	.printout-wrapper
		width: 100%
		position: relative

	&.A4
		&.portrait
			width: 21cm
			height: 29.7cm

		&.landscape
			width: 29.7cm
			height: 21cm

	&.A4-half
		&.portrait
			width: 21cm
			height: 14.85cm

		&.landscape
			width: 14.85cm
			height: 21cm

	&.letter
		&.portrait
			width: 21.59cm
			height: 27.94cm

		&.landscape
			width: 27.94cm
			height: 21.59cm

	&.letter-half
		&.portrait
			width: 21.59cm
			height: 13.97cm

		&.landscape
			width: 13.97cm
			height: 21.59cm

	&.long
		&.portrait
			width: 21.6cm
			height: 33.02cm

		&.landscape
			width: 33.02cm
			height: 21.6cm

	&.long-half
		&.portrait
			width: 21.6cm
			height: 16.51cm

		&.landscape
			width: 16.51cm
			height: 21.6cm

	&.legal
		&.portrait
			width: 21.6cm
			height: 35.6cm

		&.landscape
			width: 35.6cm
			height: 21.6cm

	&.legal-half
		&.portrait
			width: 21.6cm
			height: 17.8cm

		&.landscape
			width: 17.8cm
			height: 21.6cm
@page
	orphans: 4
	widows: 2

@media print
	html, body
		background-color: #fff

	.printout-page
		width: initial !important
		min-height: initial !important
		margin: 0 !important
		padding: 0 !important
		border: initial !important
		border-radius: initial !important
		background: initial !important
		box-shadow: initial !important
		page-break-after: always

.printout-row
	min-height: 20px

	.col-xs-1,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12
		padding-left: 5px
		padding-right: 5px

	&.content
		min-height: initial

	&.bordered
		border-top: 0.5px #ccc dotted
		border-bottom: 0.5px #ccc dotted

	.pr-column
		&.bordered
			border: 0.5px red dashed

		.pr-border-top
			border-top: 1px black solid

		.pr-border-bottom
			border-bottom: 1px black solid

// Printout Page Number
.printout-page-number
	position: absolute

	&.top-left
		top: 0
		left: 0px

	&.top-right
		top: 0
		right: 0px

	&.top-center
		top: 0
		width: 100%
		text-align: center

	&.bottom-left
		bottom: 0px
		left: 0px

	&.bottom-right
		bottom: 0px
		right: 0px

	&.bottom-center
		bottom: 0px
		width: 100%
		text-align: center

.pr-datatable
	width: 100%

	tbody
		tr
			td
				padding-left: 3px
				padding-right: 3px
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis

#print
	.row 
		margin-left: -3px
		margin-right: -3px

	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24, .col-xs-25, .col-sm-25, .col-md-25, .col-lg-25, .col-xs-26, .col-sm-26, .col-md-26, .col-lg-26, .col-xs-27, .col-sm-27, .col-md-27, .col-lg-27, .col-xs-28, .col-sm-28, .col-md-28, .col-lg-28, .col-xs-29, .col-sm-29, .col-md-29, .col-lg-29, .col-xs-30, .col-sm-30, .col-md-30, .col-lg-30, .col-xs-31, .col-sm-31, .col-md-31, .col-lg-31, .col-xs-32, .col-sm-32, .col-md-32, .col-lg-32, .col-xs-33, .col-sm-33, .col-md-33, .col-lg-33, .col-xs-34, .col-sm-34, .col-md-34, .col-lg-34, .col-xs-35, .col-sm-35, .col-md-35, .col-lg-35, .col-xs-36, .col-sm-36, .col-md-36, .col-lg-36, .col-xs-37, .col-sm-37, .col-md-37, .col-lg-37, .col-xs-38, .col-sm-38, .col-md-38, .col-lg-38, .col-xs-39, .col-sm-39, .col-md-39, .col-lg-39, .col-xs-40, .col-sm-40, .col-md-40, .col-lg-40
		position: relative
		min-height: 1px
		padding-left: 3px
		padding-right: 3px

	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-xs-19, .col-xs-20, .col-xs-21, .col-xs-22, .col-xs-23, .col-xs-24, .col-xs-25, .col-xs-26, .col-xs-27, .col-xs-28, .col-xs-29, .col-xs-30, .col-xs-31, .col-xs-32, .col-xs-33, .col-xs-34, .col-xs-35, .col-xs-36, .col-xs-37, .col-xs-38, .col-xs-39, .col-xs-40
		float: left

	.col-xs-40
		width: 100%

	.col-xs-39
		width: 97.5%

	.col-xs-38
		width: 95%

	.col-xs-37
		width: 92.5%

	.col-xs-36
		width: 90%

	.col-xs-35
		width: 87.5%

	.col-xs-34
		width: 85%

	.col-xs-33
		width: 82.5%

	.col-xs-32
		width: 80%

	.col-xs-31
		width: 77.5%

	.col-xs-30
		width: 75%

	.col-xs-29
		width: 72.5%

	.col-xs-28
		width: 70%

	.col-xs-27
		width: 67.5%

	.col-xs-26
		width: 65%

	.col-xs-25
		width: 62.5%

	.col-xs-24
		width: 60%

	.col-xs-23
		width: 57.5%

	.col-xs-22
		width: 55%

	.col-xs-21
		width: 52.5%

	.col-xs-20
		width: 50%

	.col-xs-19
		width: 47.5%

	.col-xs-18
		width: 45%

	.col-xs-17
		width: 42.5%

	.col-xs-16
		width: 40%

	.col-xs-15
		width: 37.5%

	.col-xs-14
		width: 35%

	.col-xs-13
		width: 32.5%

	.col-xs-12
		width: 30%

	.col-xs-11
		width: 27.5%

	.col-xs-10
		width: 25%

	.col-xs-9
		width: 22.5%

	.col-xs-8
		width: 20%

	.col-xs-7
		width: 17.5%

	.col-xs-6
		width: 15%

	.col-xs-5
		width: 12.5%

	.col-xs-4
		width: 10%

	.col-xs-3
		width: 7.5%

	.col-xs-2
		width: 5%

	.col-xs-1
		width: 2.5%

	.col-xs-pull-40
		right: 100%

	.col-xs-pull-39
		right: 97.5%

	.col-xs-pull-38
		right: 95%

	.col-xs-pull-37
		right: 92.5%

	.col-xs-pull-36
		right: 90%

	.col-xs-pull-35
		right: 87.5%

	.col-xs-pull-34
		right: 85%

	.col-xs-pull-33
		right: 82.5%

	.col-xs-pull-32
		right: 80%

	.col-xs-pull-31
		right: 77.5%

	.col-xs-pull-30
		right: 75%

	.col-xs-pull-29
		right: 72.5%

	.col-xs-pull-28
		right: 70%

	.col-xs-pull-27
		right: 67.5%

	.col-xs-pull-26
		right: 65%

	.col-xs-pull-25
		right: 62.5%

	.col-xs-pull-24
		right: 60%

	.col-xs-pull-23
		right: 57.5%

	.col-xs-pull-22
		right: 55%

	.col-xs-pull-21
		right: 52.5%

	.col-xs-pull-20
		right: 50%

	.col-xs-pull-19
		right: 47.5%

	.col-xs-pull-18
		right: 45%

	.col-xs-pull-17
		right: 42.5%

	.col-xs-pull-16
		right: 40%

	.col-xs-pull-15
		right: 37.5%

	.col-xs-pull-14
		right: 35%

	.col-xs-pull-13
		right: 32.5%

	.col-xs-pull-12
		right: 30%

	.col-xs-pull-11
		right: 27.5%

	.col-xs-pull-10
		right: 25%

	.col-xs-pull-9
		right: 22.5%

	.col-xs-pull-8
		right: 20%

	.col-xs-pull-7
		right: 17.5%

	.col-xs-pull-6
		right: 15%

	.col-xs-pull-5
		right: 12.5%

	.col-xs-pull-4
		right: 10%

	.col-xs-pull-3
		right: 7.5%

	.col-xs-pull-2
		right: 5%

	.col-xs-pull-1
		right: 2.5%

	.col-xs-pull-0
		right: auto

	.col-xs-push-40
		left: 100%

	.col-xs-push-39
		left: 97.5%

	.col-xs-push-38
		left: 95%

	.col-xs-push-37
		left: 92.5%

	.col-xs-push-36
		left: 90%

	.col-xs-push-35
		left: 87.5%

	.col-xs-push-34
		left: 85%

	.col-xs-push-33
		left: 82.5%

	.col-xs-push-32
		left: 80%

	.col-xs-push-31
		left: 77.5%

	.col-xs-push-30
		left: 75%

	.col-xs-push-29
		left: 72.5%

	.col-xs-push-28
		left: 70%

	.col-xs-push-27
		left: 67.5%

	.col-xs-push-26
		left: 65%

	.col-xs-push-25
		left: 62.5%

	.col-xs-push-24
		left: 60%

	.col-xs-push-23
		left: 57.5%

	.col-xs-push-22
		left: 55%

	.col-xs-push-21
		left: 52.5%

	.col-xs-push-20
		left: 50%

	.col-xs-push-19
		left: 47.5%

	.col-xs-push-18
		left: 45%

	.col-xs-push-17
		left: 42.5%

	.col-xs-push-16
		left: 40%

	.col-xs-push-15
		left: 37.5%

	.col-xs-push-14
		left: 35%

	.col-xs-push-13
		left: 32.5%

	.col-xs-push-12
		left: 30%

	.col-xs-push-11
		left: 27.5%

	.col-xs-push-10
		left: 25%

	.col-xs-push-9
		left: 22.5%

	.col-xs-push-8
		left: 20%

	.col-xs-push-7
		left: 17.5%

	.col-xs-push-6
		left: 15%

	.col-xs-push-5
		left: 12.5%

	.col-xs-push-4
		left: 10%

	.col-xs-push-3
		left: 7.5%

	.col-xs-push-2
		left: 5%

	.col-xs-push-1
		left: 2.5%

	.col-xs-push-0
		left: auto

	.col-xs-offset-40
		margin-left: 100%

	.col-xs-offset-39
		margin-left: 97.5%

	.col-xs-offset-38
		margin-left: 95%

	.col-xs-offset-37
		margin-left: 92.5%

	.col-xs-offset-36
		margin-left: 90%

	.col-xs-offset-35
		margin-left: 87.5%

	.col-xs-offset-34
		margin-left: 85%

	.col-xs-offset-33
		margin-left: 82.5%

	.col-xs-offset-32
		margin-left: 80%

	.col-xs-offset-31
		margin-left: 77.5%

	.col-xs-offset-30
		margin-left: 75%

	.col-xs-offset-29
		margin-left: 72.5%

	.col-xs-offset-28
		margin-left: 70%

	.col-xs-offset-27
		margin-left: 67.5%

	.col-xs-offset-26
		margin-left: 65%

	.col-xs-offset-25
		margin-left: 62.5%

	.col-xs-offset-24
		margin-left: 60%

	.col-xs-offset-23
		margin-left: 57.5%

	.col-xs-offset-22
		margin-left: 55%

	.col-xs-offset-21
		margin-left: 52.5%

	.col-xs-offset-20
		margin-left: 50%

	.col-xs-offset-19
		margin-left: 47.5%

	.col-xs-offset-18
		margin-left: 45%

	.col-xs-offset-17
		margin-left: 42.5%

	.col-xs-offset-16
		margin-left: 40%

	.col-xs-offset-15
		margin-left: 37.5%

	.col-xs-offset-14
		margin-left: 35%

	.col-xs-offset-13
		margin-left: 32.5%

	.col-xs-offset-12
		margin-left: 30%

	.col-xs-offset-11
		margin-left: 27.5%

	.col-xs-offset-10
		margin-left: 25%

	.col-xs-offset-9
		margin-left: 22.5%

	.col-xs-offset-8
		margin-left: 20%

	.col-xs-offset-7
		margin-left: 17.5%

	.col-xs-offset-6
		margin-left: 15%

	.col-xs-offset-5
		margin-left: 12.5%

	.col-xs-offset-4
		margin-left: 10%

	.col-xs-offset-3
		margin-left: 7.5%

	.col-xs-offset-2
		margin-left: 5%

	.col-xs-offset-1
		margin-left: 2.5%

	.col-xs-offset-0
		margin-left: 0%

