+font-face(H-Bold, "../../fonts/HelveticaLTStd-Bold")
+font-face(H-Roman, "../../fonts/HelveticaLTStd-Roman")

html,
body,
#app
	height: 100%
	font-size: 12px

body
	background: $body-bgcolor
	font-family: $font-family
	font-size: $font-size
	display: flex
	flex-direction: column
	overflow: hidden

#app
	flex: 1
	display: flex
	flex-direction: column
	overflow: hidden

	.page
		display: flex
		flex: 1
		overflow: hidden