<template id="my-menu">
    <li>
        <div :class="(selected) ? 'selected' : '' " class="list" v-on:click.stop="select" v-if="!renderonmenu">
            <div class="system-sprite node" v-for="n in currentLevel"></div>
            <div class="system-sprite" :class="(child.type == menu_type.FOLDER) ? folder_toggle_class : child.attributes.sprite"></div>
            <span v-html="child.label"></span>
            <div class="move-buttons">
                <i class="fa fa-chevron-up" v-on:click.stop="move('-')"></i>
                <i class="fa fa-chevron-down" v-on:click.stop="move('+')"></i>
            </div>
            <i v-if="(child.type == menu_type.FOLDER)" class="fa fa-close" v-on:click.stop="removeFromFolder"></i>
        </div>
        <div  v-if="renderonmenu">
            <a v-if="child.type == menu_type.FOLDER" @click="toggleFolder()">
                <div class="list">
                    <div class="system-sprite node" v-for="n in currentLevel"></div>
                    <div class="system-sprite" :class="folder_toggle_class"></div>
                    <span>{{ child.label }}</span>
                </div>
            </a>
            <accordion-link v-if="child.type == menu_type.MODULE" :level="(currentLevel == 0) ? 1 : currentLevel" :active="setActivePath(child.attributes.active_path)" :href="setUrl(child.attributes.url)" :sprite="child.attributes.sprite">{{ child.label }}</accordion-link>
        </div>
        <ul  v-if="show" class="tree" v-for="(record, recordKey) in child.children">
            <my-menu :child="record" :renderonmenu="renderonmenu" :level="nextLevel" :location="location +'|'+ record.label" :indices="indices+'|'+recordKey" ></my-menu>
        </ul>
    </li>
</template>

<script>
    import MyMenu from '../MyMenu/MyMenu.vue';
    import AccordionLink from '../Sidebar/AccordionLink.vue';

    export default{
        name: 'my-menu',
        
        props: {
            child: Object,
            level: 0,
            location: '',
            indices: '',
            renderonmenu: {
                type: Boolean,
                default: false
            },
        },

        components: {
            MyMenu,
            AccordionLink
        },

        data: function(){
            return {
                selected: false,
                menu_type: MENU_TYPE,
                show: true,
                folder_toggle_class: 'folder-opened',
            }
        },

        created: function(){
            MyMenuDispatcher.$on('deSelectFolder', this.deSelectFolder);
        },

        methods: {

            removeFromFolder() {
                MyMenuDispatcher.$emit('removeFolderFromMenu', this.location)
            },

            move(operator) {
                MyMenuDispatcher.$emit('movePositionOfMenu', {location: this.indices, operator: operator})
            },

            setUrl(url) {
                if(url) {
                    return window.location.origin + '/' + url;
                }
            },

            setActivePath(path) {
                let location = window.location.pathname;
                
                let paths = path.split("/");
                let locations = location.split("/");

                for (var i = 0; i < paths.length; i++) {
                    if(paths[i] != locations[parseInt(i) + 1]) {
                        return false;
                    }
                }

                return true;
            },


            toggleFolder() {
                if(this.show) {
                    this.folder_toggle_class = 'folder-closed',
                    this.show = false;
                } else {
                    this.folder_toggle_class = 'folder-opened',
                    this.show = true;
                }
            },

            select() {
                this.selected = (this.selected) ? false : true;
                if(this.child.type == this.menu_type.FOLDER) {
                    MyMenuDispatcher.$emit('setTargetFolder', (this.selected) ? this.location : '');
                    MyMenuDispatcher.$emit('deSelectFolder', this.child.label);
                }

                if(this.child.type == this.menu_type.MODULE) {
                    MyMenuDispatcher.$emit('selectForRemoval', {location: this.location, selected: this.selected, label: this.child.label});
                }
            },

            deSelectFolder(selected) {
                if(this.child.label != selected) {
                    this.selected = false;
                }
            },

            removeSelect() {
                for (var i = 0; i < this.$children.length; i++) {
                    let componentName = this.$children[i].$options._componentTag;
                    
                    if(componentName == 'my-menu'){
                        this.$children[i].removeSelect();
                    }
                }

                this.selected = false;
            }
        },

        computed: {
            nextLevel: function() {
                return Numeric.parse(this.level) + Numeric.parse(1);
            },
            currentLevel: function() {
                return Numeric.parse(this.level);
            }
        },
    }
</script>

<style type="text/css">
</style>
