<template>
    <input 
        type='text' 
        :value='value' 
        @blur='format($event.target.value)'
        @input='update($event.target.value)'
    >
</template>

<script type='text/ecmascript-6'>
    import Numeric from '../../Classes/Numeric.js';

    export default {
        props: {
            value: {},
            precision: {
                type: Boolean,
                default: true
            },
            formatted: {
                type: Boolean,
                default: true
            },
            unsigned: {
                type: Boolean,
                default: false
            },
            max: {},
            min: {}
        },

        watch: {
            'value': {
                handler: function(newValue, oldValue) {
                    let regex = '';
                    let minimum;
                    let maximum;

                    if (this.min != undefined) { 
                        minimum = Numeric.instance().parse(this.min); 
                    }

                    if (this.max != undefined) {
                        maximum = Numeric.instance().parse(this.max);
                    }

                    if(this.unsigned) {
                        regex = !this.precision 
                            ? /^\d*?$/ 
                            : /^(\d{1,3},?)*(\.?\d*)?$/;
                    } else {
                        regex = !this.precision 
                            ? /^-?\d*?$/ 
                            : /^-?(\d{1,3},?)*(\.?\d*)?$/;
                    }

                    let value = (newValue == ''
                        || newValue == null
                        || (regex.test(newValue)
                            && (this.max == undefined || (Numeric.instance().parse(newValue) <= maximum))
                            && (this.min == undefined || (Numeric.instance().parse(newValue) >= minimum))
                        ))
                        ? newValue
                        : oldValue;

                    if (value !== newValue) {
                        this.update(value);
                    }
                }
            }
        },

        methods: {
            update(value) {
                this.$emit('input', value);
            },

            format(value) {
                let scale = !this.precision ? 0 : null;

                if(this.formatted) {
                    value = Numeric.instance().format(value, scale);
                }

                this.update(value);

                this.$emit('blur', value);
            }
        }
    }
</script>

<style type="text/css">

</style>