<template>
    <transition name="modal">
        <div v-show="show" :id="id">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-body">
                        <div class="dialog-message">
                            <slot name="content"></slot>
                        </div>
                        <div class="dialog-button">
                            <input type="button" ref='ok' name="ok" value="Proceed" @click="$emit('close')"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-mask" @click="$emit('close')"></div>
        </div>
    </transition>
</template>

<script type="text/ecmascript-6">
    export default {
        props: {
            id: String,
            show: Boolean
        },
        updated: function() {
            if(this.show) {
                this.$refs.ok.focus();
            }
        }
    }
</script>

<style rel="stylesheet" scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-container {
        position: absolute;
        z-index: 9999;
        top: 30px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        width: 300px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: H-Roman;
    }

    .modal-footer {
        height: 56px;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-default-button {
        float: right;
    }

    .modal-footer {
        height: 56px;
    }

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .dialog-message {
        font-size: 16px;
    }

    .dialog-button {
        text-align: right;
        margin-top: 15px;
    }
    .dialog-button input[type="button"] {
        background-color: #036795;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        border-radius: 3px;
        padding: 5px 8px 4px;
        font-family: H-Bold;
        text-transform: uppercase;
    }

    .dialog-button input[type="button"]:hover {
        background-color: #1078A5;
    }
</style>
