<template>
    <transition name="modal">
        <div :id="id">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <button type="button" class="close" @click="$emit('close')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">
                            Search Filter
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="clearfix">
                            <div class="pull-left">
                                <div class="filter-list">
                                    <ul>
                                        <filteritem 
                                            v-for="filter in filters" 
                                            v-show="filter.freezing == undefined || !(filter.freezing)"
                                            v-on:storetemp='storeTemp' 
                                            :filter='filter'>
                                        </filteritem>
                                    </ul>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="filter-buttons">
                                    <button class="btn btn-default" @click='selectSingle'><i class="fa fa-angle-right fa-lg"></i></button>
                                    <button class="btn btn-default" @click='removeSingle'><i class="fa fa-angle-left fa-lg"></i></button>
                                    <button class="btn btn-default" @click='selectAll'><i class="fa fa-angle-double-right fa-lg"></i></button>
                                    <button class="btn btn-default" @click='removeAll'><i class="fa fa-angle-double-left fa-lg"></i></button>
                                </div>
                            </div>
                            <div class="filter-selected-outer pull-right">
                                <div class="filter-selected">
                                    <ul>
                                        <filterselected
                                            v-for='(selectedfilter, index) in included'
                                            v-show="selectedfilter.freezing == undefined || !(selectedfilter.freezing)"
                                            :id="id + '-item'"
                                            v-on:storeremovetemp='storeRemoveTemp' 
                                            :index='index' 
                                            :filter='selectedfilter'
                                            :input = 'input[index]'
                                            @changeinput='changeInput'>
                                        </filterselected>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="c-btn c-dk-green" @click='search'>Search</button>
                    </div>
                </div>
            </div>
            <div class="modal-mask" @click="$emit('close')"></div>
        </div>
    </transition>
</template>

<script >
    import Vue from 'vue';
    import Filteritem from '../../Components/FilterModal/FilterItem.vue';
    import Filterselected from '../../Components/FilterModal/FilterSelected.vue';

    window.FilterModalDispatcher = new Vue();

    export default {
        props: 
        {
            filters: Array,
            id: {
                type: String,
                required: false,
                default: 'filter-modal'
            }
        },
        data: function(){
            return {
                addTemp: [],
                removeTemp: [],
                included: [],
                input: []
            }
        },
        mounted: function(){
            this.loadDefault();
        },
        methods: {
            storeTemp(emitVal){
                emitVal.mode == 'add' 
                ? this.addTemp.push(emitVal.filter)
                : this.addTemp = this.addTemp.filter(function(item){ 
                    return emitVal.filter.name != item.name
                });
            },
            storeRemoveTemp(emitVal){
                emitVal.mode == 'add' 
                ? this.removeTemp.push(emitVal.index)
                : this.removeTemp = this.removeTemp.filter(function(item){ 
                    return emitVal.index != item
                });
            },
            selectSingle(){
                this.limitFilters(this.addTemp);
                this.addTemp = [];
                FilterModalDispatcher.$emit('resetcomponentitem');
            },
            removeSingle(){
                this.removeTemp.sort((a, b) => a - b);

                for(let ctr = this.removeTemp.length - 1; ctr >= 0; ctr--) {
                    this.included.splice(this.removeTemp[ctr], 1);
                    this.input.splice(this.removeTemp[ctr], 1);
                }
                
                this.removeTemp = [];

                FilterModalDispatcher.$emit('resetcomponentselected');
            },
            selectAll(){
                this.limitFilters(this.filters);
            },
            limitFilters(items){
                for(let item in items) {
                    if(items[item].limit == null || this.countFilters(items[item].name) < items[item].limit) {
                        if(items[item].freezing == undefined || !(items[item].freezing)){
                            this.included = this.included.concat([items[item]]);
                            this.input.push({
                                comparisonOperatorSelect: COMPARISON_OPERATOR.EQUAL.name,
                                inputVal: '',
                                joinConditionSelect: CONDITIONAL_OPERATOR.AND.name
                            });
                        }
                    }
                }
            },
            countFilters(name){
                let count = 0;
                for(let row in this.included){
                    if(this.included[row].name == name) {
                        count += 1;
                    }
                }
                return count;
            },
            removeAll() {
                this.included = [];
                this.input = [];
                this.removeTemp = [];

                this.restoreFrozenFilters();
            },
            search() {
                this.update();
                this.$emit('search');
            },
            changeInput(emitVal){
                this.input[emitVal.index].comparisonOperatorSelect = emitVal.comparisonOperatorSelect;
                this.input[emitVal.index].inputVal = emitVal.inputVal;
                this.input[emitVal.index].joinConditionSelect = emitVal.joinConditionSelect;
            },
            loadDefault() {
                for(let index in this.filters) {
                    if(String(this.filters[index]['selected']).toLowerCase() === 'true') {
                        let defaults = this.filters[index].default.length === undefined
                                ? [this.filters[index].default]
                                : this.filters[index].default;

                        this.setInput(defaults);

                        if(this.filters[index]['type'] === 'dateRange') {
                            this.included = this.included.concat(this.filters[index]);
                        } else {
                            for (var i = 0; i < defaults.length; i++) {
                                this.included = this.included.concat(this.filters[index]);
                            }
                        }
                    }
                }

                this.update();
            },
            setInput(defaults) {
                for (let i = 0; i < defaults.length; i++) {
                    let object = defaults[i];

                    this.input.push({
                        comparisonOperatorSelect: object && object.comparison 
                            ? object.comparison
                            : COMPARISON_OPERATOR.EQUAL.name,
                        inputVal: object && object.value 
                            ? object.value
                            : '', 
                        joinConditionSelect: object && object.join 
                            ? object.join
                            : CONDITIONAL_OPERATOR.AND.name
                    });
                }
            },
            restoreFrozenFilters() {
                let that = this;
                for(let index in that.filters) {
                    if(String(that.filters[index]['selected']).toLowerCase() === 'true') {
                        let defaults = that.filters[index].default.length === undefined
                            ? [that.filters[index].default]
                            : that.filters[index].default;

                        if (that.filters[index].hasOwnProperty('freezing')){
                            if(that.filters[index].freezing){
                                that.setInput(defaults);

                                if(that.filters[index]['type'] === 'dateRange') {
                                    that.included = that.included.concat(that.filters[index]);
                                } else {
                                    for (var i = 0; i < defaults.length; i++) {
                                        that.included = that.included.concat(that.filters[index]);
                                    }
                                }
                            }
                        }
                    }
                }
            },

            update() {
                let filters = [];

                for(let index in this.included) {
                    if(this.included[index].type == 'doubleSelect') {
                        //Handles first and second select in single filter selected option
                        filters.push({
                            value: this.input[index].inputVal.head,
                            operator: this.input[index].comparisonOperatorSelect,
                            join: this.input[index].joinConditionSelect,
                            column: this.included[index].columnName
                        });

                        if(this.input[index].inputVal.detail != null) {
                            filters.push({
                                value: this.input[index].inputVal.detail,
                                operator: this.input[index].comparisonOperatorSelect,
                                join: this.input[index].joinConditionSelect,
                                column: this.included[index].secondaryColumn
                            });
                        }
                    } else if(this.included[index].type == 'dateRange') {
                        filters.push({
                                value: this.input[index].inputVal.start,
                                operator: '>=',
                                join: 'AND',
                                column: this.included[index].columnName
                            },
                            {
                                value: this.input[index].inputVal.end,
                                operator: '<=',
                                join: this.input[index].joinConditionSelect,
                                column: this.included[index].columnName
                            });
                    } else {
                        filters.push({
                            value: this.input[index].inputVal,
                            operator: this.input[index].comparisonOperatorSelect,
                            join: this.input[index].joinConditionSelect,
                            column: this.included[index].columnName
                        });
                    }
                }

                this.$emit('input', filters);
            }
        },
        components: {
            Filteritem,
            Filterselected
        }
    }
</script>

<style rel="stylesheet/less" scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }
    .modal-container {
        position: absolute;
        z-index: 9999;
        top: 30px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        width: 300px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: H-Roman;
    }
    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }
    .modal-default-button {
        float: right;
    }
    /*
    * The following styles are auto-applied to elements with
    * transition="modal" when their visibility is toggled
    * by Vue.js.
    *
    * You can easily play with the modal transition by editing
    * these styles.
    */
    .modal-enter {
        opacity: 0;
    }
    .modal-leave-active {
        opacity: 0;
    }
    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .modal-container {
        width: 852px !important;
    }
    .filter-list {
        width: 200px;
        border: 1px #ccc solid;
        background: #f2f2f2;
        height: 440px;
        overflow-y: auto;
    }
    .filter-list ul,
    .filter-selected ul {
        padding-left: 0px;
    }
    .filter-list ul li {
        border-bottom: 1px #ccc solid;
        list-style: none;
        padding: 5px;
        background: #fff;
    }
    .filter-list > ul li.selected,
    .filter-selected > ul li.selected{
        background: #4286f4;
        color: #fff;
    }
    .filter-buttons {
        width: 40px;
        height: 421px;
        margin-left: 25px;
    }
    .filter-buttons button:nth-of-type(1){
        margin-top: 0px;
    }
    .filter-buttons button{
        width: 40px;
        margin-top: 10px;
    }
</style>