<template>
    <li :class='classname' :id="id">
        <div class="flex">
            <div class="filter-label" @click='clickItem'>
                {{ filter.name }}
            </div>
            <div class="filter-type">
                <select v-model='comparisonOperatorSelect' v-on:change="onChange" v-if='filter.type != "select" && filter.type != "dateRange" && filter.type != "doubleSelect" && filter.type != "chosen"'>
                    <option v-for='operator in comparisonOperator' :value='operator.name'>{{ operator.symbol }}</option>
                </select>

                <input v-if='filter.type == "string"' type="text" v-model='inputVal'>

                <input v-if='filter.type == "number"' type="number" v-model='inputVal'>

                <datepicker :id='id + "-filter-datepicker-" + index' v-if='filter.type == "date"' format="yyyy-MM-dd" v-model='inputVal' :highlighted='{ dates: [new Date] }'></datepicker>
                
                <input v-show='filter.type == "string" && filter.optionBool == true' type="button" value="..." @click='showOption'>
                
                <chosen class="filter-chosen" v-if='filter.type == "chosen"' v-model='inputVal' :options='filter.selectOptions'></chosen>

                <select v-if='filter.type == "select"' v-model='inputVal'>
                    <option v-for='option in filter.selectOptions' :value='option.id'>{{option.label}}</option>
                </select>

                <select v-if='filter.type == "doubleSelect"' v-model='doubleSelect.head' v-on:change='getDetails'>
                    <option v-for='option in filter.selectOptions' :value='option.id'>{{option.label}}</option>
                </select>

                <select v-if='filter.type == "doubleSelect"' v-model='doubleSelect.detail'>
                    <option v-for='option in doubleDetails' :value='option.id'>{{option.label}}</option>
                </select>

                <span v-if='filter.type == "dateRange"'>Start:</span>

                <date-time-picker
                    :id='id + "-filter-datetimepicker-range-from" + index'
                    v-if='filter.type == "dateRange"'
                    v-model='dateRange.start'
                    :disabled='false'
                    :date='{format: "yyyy-MM-dd"}'>
                </date-time-picker>

                <span v-if='filter.type == "dateRange"' class="c-mgl-5">End:</span>

                <date-time-picker
                    v-if='filter.type == "dateRange"'
                    v-model='dateRange.end'
                    :id='id + "-filter-datetimepicker-range-to-" + index'
                    :disabled='false'
                    :date='{format: "yyyy-MM-dd"}'>
                </date-time-picker>

                <date-time-picker
                    v-if='filter.type == "datetime"'
                    v-model='inputVal'
                    :id='id + "-filter-datetimepicker-" + index'
                    :disabled='false'
                    :date='{format: "yyyy-MM-dd"}'>
                </date-time-picker>

                <select v-if='filter.type == "yearMonth"' v-model='yearMonth.month'>
                    <option v-for="month in yearMonth.months" :value="month.id"> {{ month.label }}</option>
                </select>

                <select v-if='filter.type == "yearMonth"' v-model='yearMonth.year'>
                    <option v-for="year in yearMonth.years" :value="year.id"> {{ year.label }}</option>
                </select>
            </div>
            <div class="filter-condition">
                <select v-model='joinConditionSelect' v-on:change="onChange">
                    <option v-for='condition in joinCondition' :value="condition.name">{{condition.symbol}}</option>
                </select>
            </div>
        </div>
        <optionpanel v-show="panel.visible" @closeoption="panel.visible = false" @selectoption="selectOption" :filter='this.filter' :optionData='this.panel.data'></optionpanel>
    </li>
</template>

<script type="text/ecmascript-6">
    import Format from '../../Classes/Format';
    import DateUnit from '../../Classes/DateUnit';
    import Datepicker from 'vuejs-datepicker';
    import Optionpanel from '../../Components/FilterModal/OptionPanel.vue';
    import DateTimePicker from '../../Components/DateTimePicker/DateTimePicker.vue';
    import Chosen from '../../Components/Chosen/Chosen.vue';

    export default{
        props: {
            filter: Object,
            index: Number,
            input: Object,
            id: {
                type: String,
                required: false,
                default: 'filter-item'
            }
        },
        data: function(){
            return {
                checked: false,
                classname: '',
                comparisonOperator: [],
                joinCondition: 
                [
                    CONDITIONAL_OPERATOR.AND,
                    CONDITIONAL_OPERATOR.OR
                ],
                comparisonOperatorSelect: this.input.comparisonOperatorSelect,
                inputVal: this.input.inputVal,
                joinConditionSelect: this.input.joinConditionSelect,
                panel:{
                    visible: false,
                    data: []
                },

                doubleSelect: {
                    head: '',
                    detail: ''
                },
                doubleDetails: [],

                dateRange: {
                    start: Moment().startOf('day').format(),
                    end: Moment().add(1, 'day').startOf('day').format()
                },

                yearMonth: {
                    years: DateUnit.enumYears(),
                    months: DateUnit.enumMonths(),
                    year: Moment().format('Y'),
                    month: Moment().format('M')
                }
            }
        },
        mounted: function() {
            this.loadInitialValue();
            this.loadOperations();
        },
        watch: {
            inputVal: function(){
                this.onChange();
            },
            input: function() {
                this.comparisonOperatorSelect = this.input.comparisonOperatorSelect;
                this.inputVal = this.input.inputVal;
                this.joinConditionSelect = this.input.joinConditionSelect;

                switch(this.filter.type) {
                    case 'yearMonth': 
                        let date = this.input.inputVal.split('-');

                        this.yearMonth.year = Number(date[0]);
                        this.yearMonth.month = Number(date[1]);
                        break;
                    
                    case 'doubleSelect': 
                        this.doubleSelect.head = (this.input.inputVal === '')
                            ? this.filter.selectOptions[0].id
                            : this.input.inputVal.head;
                        
                        this.getDetails();
                        break;
                }
            },
            doubleSelect: {
                handler(val){
                    this.inputVal = val;
                },
                deep: true
            },
            dateRange: {
                handler(val){
                    this.inputVal = val;
                },
                deep: true
            },
            yearMonth: {
                handler(val) {
                    this.inputVal = val.year + '-' +
                        (val.month < 10 ? '0' : '') + val.month;
                },
                deep: true
            },

            'filter.type': function() {
                this.loadOperations();
            }
        },
        methods: {
            clickItem(){
                this.checked = this.checked == false ? true : false;
                this.classname = this.checked == true ? 'selected' : '';
                this.$emit('storeremovetemp', this.checked == true ? {mode:'add', index:this.index} : {mode:'remove', index:this.index});
            },
            resetComponent() {
                this.checked = false;
                this.classname = '';
            },
            onChange() {
                this.$emit('changeinput', {
                    index: this.index,
                    comparisonOperatorSelect: this.comparisonOperatorSelect,
                    inputVal: this.filter.type === 'date'
                        ? Format.instance().make({ date: this.inputVal }, { date: 'date' }).date
                        : this.inputVal,
                    joinConditionSelect: this.joinConditionSelect
                })
            },
            showOption(){
                this.panel.visible = true;
                this.panel.data = [];
                this.panel.data = this.panel.data.concat(this.filter.tableOptions.data);
            },
            selectOption(emitVal){
                this.inputVal = emitVal;
            },
            getDetails() {
                let that = this;
                if(this.filter.withCallback) {
                    this.filter.callback(this.doubleSelect.head).then(function (response) {
                        if(that.filter.withAll) {
                            that.doubleDetails = [{
                                id: null,
                                label: Lang.t('label.all')
                            }].concat(response.data.values.details);

                            that.doubleSelect.detail = null;

                        } else {
                            that.doubleDetails = response.data.values.details;
                            that.doubleSelect.detail = response.data.values.details[0].id
                        }
                    });
                } else {
                    this.doubleDetails = this.filter.secondarySelectOptions;
                    this.doubleSelect.detail = this.filter.secondarySelectOptions[0].id;
                }
            },
            loadOperations() {
                let operators = [];

                switch (this.filter.type) {
                    case 'doubleSelect':
                    case 'select':
                    case 'chosen':
                        operators = [COMPARISON_OPERATOR.EQUAL];
                        break;

                    case 'date':
                    case 'dateRange':
                    case 'datetime':
                    case 'yearMonth':
                        operators = [
                            COMPARISON_OPERATOR.EQUAL,
                            COMPARISON_OPERATOR.LESS_THAN,
                            COMPARISON_OPERATOR.GREATER_THAN,
                            COMPARISON_OPERATOR.LESS_THAN_EQUAL,
                            COMPARISON_OPERATOR.GREATER_THAN_EQUAL
                        ];
                        break;

                    default:
                        operators = [
                            COMPARISON_OPERATOR.EQUAL,
                            COMPARISON_OPERATOR.LESS_THAN,
                            COMPARISON_OPERATOR.GREATER_THAN,
                            COMPARISON_OPERATOR.LESS_THAN_EQUAL,
                            COMPARISON_OPERATOR.GREATER_THAN_EQUAL,
                            COMPARISON_OPERATOR.NOT_EQUAL,
                            COMPARISON_OPERATOR.CONTAINS,
                            COMPARISON_OPERATOR.LEFT_CONTAINS,
                            COMPARISON_OPERATOR.RIGHT_CONTAINS,
                            COMPARISON_OPERATOR.NOT_CONTAINS,
                        ];
                        break;
                }

                this.$set(this, 'comparisonOperator', operators);
            },
            loadInitialValue() {
                switch(this.filter.type) {
                    case 'doubleSelect':
                        this.doubleSelect.head = (this.input.inputVal === '')
                            ? this.filter.selectOptions[0].id
                            : this.input.inputVal.head;

                        this.getDetails();
                        break;
                
                    case 'dateRange':
                        this.inputVal = this.dateRange;
                        break;

                    case 'yearMonth':
                        if (this.input.inputVal === '') {
                            let year = this.yearMonth.year;
                            let month = (this.yearMonth.month < 10 ? '0' : '') + this.yearMonth.month;

                            this.inputVal = year + '-' + month;
                            return;
                        }

                        let date = this.input.inputVal.split('-');

                        this.yearMonth.year = Number(date[0]);
                        this.yearMonth.month = Number(date[1]);
                        break;
                    
                    case 'string':
                        this.comparisonOperatorSelect = COMPARISON_OPERATOR.CONTAINS.symbol;
                        break;
                }
            }
        },
        updated(){
            FilterModalDispatcher.$on('resetcomponentselected', this.resetComponent);
        },
        components: {
            Datepicker,
            Optionpanel,
            DateTimePicker,
            Chosen
        }
    }
</script>

<style type="text/css">
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .filter-selected-outer {
        background: #f2f2f2;
        border: 1px #ccc solid;
        overflow-y: auto;
        width: 529px;
    }
    .filter-selected {
        padding-top: 3px;
        height: 438px;
    }
    .filter-selected ul {
        margin-bottom: 0px;
    }
    .filter-selected ul li {
        padding: 3px;
        margin: 3px;
        cursor: pointer;
        list-style: none;
        font-size: 12px;
        border: 1px #ccc solid;
        background: #fff;
    }
    .filter-selected ul li:nth-of-type(1) {
        margin-top: 0px;
    }
    .filter-selected input,
    .filter-selected select {
        color: initial;
        flex: 1;
        margin-left: 3px;
    }
    .filter-selected .time-picker input[type="text"] {
        margin-left: initial;
    }
    .filter-selected .date-time-picker input[type="text"] {
        height: 25px !important;
    }
    .filter-selected .date-time-picker span,
    .filter-selected .time-picker span{
        color: initial;
    }
    .filter-selected input[type="button"] {
        flex: initial;
        width: 25px;
    }
    .filter-label {
        float: left;
        min-width: 120px;
        max-width: 120px;
    }
    .filter-type {
        display: flex;
        flex: 1 1 auto;
        padding-right: 3px;
    }
    .filter-condition select {
        flex: 0;
        margin-left: 0px;
    }
    .filter-chosen {
        min-width: 100%;
        max-width: 100%;
    }
    .filter-chosen ul li {
        margin: 0px;
        padding: 5px;
        border: initial;
    }
    .filter-chosen input[type="text"] {
        margin-left: 0px;
    }
</style>