<template>
    <li :class='classname' @click='clickItem'>{{ filter.name }}</li>
</template>

<script>
    export default{
        props: {
            filter: Object,
        },
        data: function(){
            return {
                checked: false,
                classname: ''
            }
        },
        methods: {
            clickItem(){
                this.checked = this.checked == false ? true : false;
                this.classname = this.checked == true ? 'selected' : '';
                this.$emit('storetemp', this.checked == true 
                    ? {mode: 'add', filter: this.filter} 
                    : {mode: 'remove', filter: this.filter});
            },
            resetComponent(){
                this.checked = false;
                this.classname = '';
            }
        },
        updated(){
            FilterModalDispatcher.$on('resetcomponentitem', this.resetComponent);
        }
    }
</script>
