<template>
    <transition name="modal">
        <div id="option-panel-modal">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <button type="button" class="close" @click="$emit('closeoption')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">
                            {{ this.filter.name }}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div v-if='filter.optionBool'>
                            <div class="option-search" align="center">
                                <table>
                                    <tr>
                                        <td>Search:</td>
                                        <td><input type="text" v-model='searchField'></td>
                                        <td>
                                            <button class="c-btn c-dk-green" @click='search'>
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="option-panel">
                                <table>
                                    <thead>
                                        <th v-for='(optionheader, index) in filter.tableOptions.headers'>{{optionheader}}</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for='(row, index) in searchData' @click='clickItem(row, index)' :class='classArray[index]'>
                                            <td v-for='(column, innerindex) in filter.tableOptions.columns'>{{row[column]}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="c-btn c-dk-blue" @click="selectItem">Select</button>
                    </div>
                </div>
            </div>
            <div class="modal-mask" @click="$emit('closeoption')"></div>
        </div>
    </transition>
</template>

<script type="text/ecmascript-6">
    export default{
        props: {
            filter: Object,
            optionData: Array
        },
        data: function(){
            return {
                originalData: [],
                searchData: [],
                classArray: [],
                currentFilter: Object,
                searchField: '',
                searchIncluded: []
            }
        },
        mounted: function(){
            for(var ctr; ctr<this.optionData.length;ctr++) {
                this.classArray[ctr] = '';
            }
        },
        watch: {
            optionData: function(val) {
                this.searchField = '';
                this.originalData = val;
                this.searchData = val;
            }
        },
        methods: {
            clickItem(row, index){
                this.classArray = [];
                this.classArray[index] = 'selected';
                this.currentFilter = row;
            },
            selectItem(){
                if(Object.keys(this.currentFilter).length === 0) {
                    this.$emit('selectoption', '');
                } else {
                    this.$emit('selectoption', this.currentFilter[this.filter.tableOptions.returncolumn]);
                }
                this.classArray = [];
                this.currentFilter = {};
                this.$emit('closeoption');
            },
            search(){
                this.searchData = [];
                for(let row in this.originalData) {
                    let arrayRep = this.fetchColumns(this.originalData[row]);
                    if(arrayRep.some(this.searchMatch)) {
                        this.searchData.push(this.originalData[row]);
                    }
                }
            },
            searchMatch(element, index, array){
                let regexString = new RegExp(this.searchField, "i");
                return String(element).match(regexString);
            },
            fetchColumns(item){
                let returnArray = [];
                for(let column in this.filter.tableOptions.columns) {
                    returnArray.push(item[this.filter.tableOptions.columns[column]]);
                }
                return returnArray;
            }
        }
    }
</script>

<style type="text/css">
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }
    .modal-container {
        position: absolute;
        z-index: 9999;
        top: 30px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        width: 780px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: H-Roman;
    }
    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }
    .modal-default-button {
        float: right;
    }
    /*
    * The following styles are auto-applied to elements with
    * transition="modal" when their visibility is toggled
    * by Vue.js.
    *
    * You can easily play with the modal transition by editing
    * these styles.
    */
    .modal-enter {
        opacity: 0;
    }
    .modal-leave-active {
        opacity: 0;
    }
    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    #option-panel-modal .modal-body {
        padding-top: 0px;
    }
    #option-panel-modal .option-search {
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: -3px;
    }
    #option-panel-modal .option-search table td {
        padding: 3px;
    }
    #option-panel-modal .option-search input[type="text"] {
        margin-left: 0px;
        width: 300px;
    }
    #option-panel-modal .option-panel{
        border: 1px #ccc solid;
        background-color: #F2F2F2;
        height: 280px;
        overflow: auto;
    }
    #option-panel-modal .option-panel ul {
        padding-left: 0px;
    }
    #option-panel-modal .option-panel td {
        padding: 3px;
    }
    #option-panel-modal .option-panel thead {
        border-bottom: 1px #ccc solid;
        background-color: #E7EFF0;
    }
    #option-panel-modal .option-panel tr.selected {
        background-color: #4286f4;
    }
    #option-panel-modal .option-panel tr.selected td {
        color: #fff;
    }
    #option-panel-modal .option-panel table {
        width: 100%;
        border: none;
    }
    #option-panel-modal .option-panel th {
        background-color: #E7EFF0;
        cursor: initial;
    }
    #option-panel-modal .option-panel tr {
        background-color: #fff;
        border-bottom: 1px #ccc solid;
    }
    #option-panel-modal .option-panel th,
    #option-panel-modal .option-panel td {
        border-color: #c5c5c5;
        font-weight: normal;
        padding: 3px;
        color: initial;
    }
</style>