<template>
    <div v-on-clickaway="away" class="control-group control-border" :class="{ 'open' : showDropdown }" v-show="show">
        <button class="control-dropdown" @click="toggleDropdown">
            <img v-show="(image != '')" :src="image">
            <i v-show="(icon != '')" :class="icon"></i>
            <span class="control-dropdown-text"><slot></slot></span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <slot name="list"></slot>
        </ul>
    </div>
</template>

<script type="text/ecmascript-6">
    import { mixin as clickAway } from 'vue-clickaway';

    export default {    
        mixins: [clickAway],
        props: {
            'image': {
                type: String,
                default: ''
            },
            'icon': {
                type: String,
                default: ''
            },
            'show': {
                type: Boolean,
                default: true,
            }
        },

        data() {
            return {
                showDropdown: false
            };
        },

        methods: {
            toggleDropdown() {
                this.showDropdown = !this.showDropdown;
            },
            away: function() {
                    this.showDropdown = false;
            }
        }
    }
</script>

<style type="text/css">
    .control-bar .control-group .control-dropdown {
        background: transparent;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        border-radius: 2px;
        height: 26px;
        padding: 3px 5px;
        position: relative;
        z-index: 0;
    }
    .control-bar .control-group .control-dropdown:hover {
        cursor: pointer;
        border-color: #ccc;
        transition: 0.4s;
    }
    .control-bar .control-group .control-dropdown:focus {
        border: 1px #ccc solid;
    }
    .control-bar .pull-left .control-group .dropdown-menu {
        top: initial;
        left: initial;
        margin: 0;
        border-top-left-radius: 0px;
        font-size: 12px;
    }
    .control-bar .pull-right .control-group .dropdown-menu {
        top: initial;
        left: initial;
        right: 3px;
        margin: 0;
        border-top-right-radius: 0px;
        font-size: 12px;
    }
    .control-bar .control-group .control-dropdown i {
        float: left;
        font-size: 14px;
        margin-right: 5px;
    }
    .control-bar .control-group .control-dropdown img {
        float: left;
        margin-right: 5px;
        height: 15px;
        width: 15px;
    }
    .control-bar .control-group .control-dropdown-text {
        display: block;
        float: left;
        font-size: 12px;
        line-height: 1.4;
        text-align: left;
    }
    .control-bar .control-group .control-dropdown .caret {
        margin-left: 5px;
    }
    .control-bar .dropdown-menu > li > a {
        padding: 5px 10px;
        cursor: pointer;
    }
    .datatable-dropdown .dropdown-menu {
        min-width: 350px;
        top: 24px;
        left: 3px;
        border-top-left-radius: 0px;
    }
    .datatable-dropdown .control-dropdown {
        padding: 4px;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 11px;
        border-radius: 3px;
        padding: 5px 8px 4px;
        font-family: H-Bold;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .datatable-dropdown.c-dk-blue .control-dropdown {
        background: #036795;
    }
    .datatable-dropdown.c-dk-blue .control-dropdown:hover {
        background: #1078a5;
    }
    .datatable-dropdown.full-width .control-dropdown {
        width: 100%;
    }
</style>