<template>
    <div class="control-group control-border">
        <button class="control-button clearfix" @click="$emit('click')">
            <img v-show="(image != '')" :src="image">
            <i v-show="(icon != '')" :class="icon"></i>
            <span class="control-button-text"><slot></slot></span>
        </button>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        props: {
            'image': {
                type: String,
                default: ''
            },
            'icon': {
                type: String,
                default: ''
            }
        }
    }
</script>

<style type="text/css">
    .control-bar .control-group .control-button {
        background: transparent;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        border-radius: 2px;
        height: 26px;
        padding: 5px;
        position: relative;
        z-index: 0;
        float: left;
    }
    .control-bar .control-group .control-button:hover {
        cursor: pointer;
        border-color: #ccc;
        transition: 0.4s;
    }
    .control-bar .control-group .control-button:active {
        background: #fff;
        border-color: #ccc;
    }
    .control-bar .control-group .control-button i {
        float: left;
        font-size: 14px;
    }
    .control-bar .control-group .control-button img {
        float: left;
        height: 15px;
        width: 15px;
        margin-right: 5px;
    }
    .control-bar .control-group .control-button-text {
        display: block;
        float: left;
        font-size: 12px;
        line-height: 1.2;
        text-align: left;
        padding-left: 5px;
    }
    .control-bar .control-group .control-button-text:empty {
        padding-left: 0px;
    }
    .control-form-upload {
        width: 170px;
        position: relative;
        top: 2px;
    }
</style>