<template>
    <div class="control-bar clearfix">
        <div class="pull-left clearfix">
            <slot name="left"></slot>
        </div>
        <div class="pull-right clearfix">
            <slot name="right"></slot>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
    }
</script>

<style type="text/css">
    .control-bar {
        background: #effeff;
        border-top: 1px #ccc solid;
    }
    .control-bar .control-group {
        padding: 3px;
        float: left;
        height: 32px;
        position: relative;
    }
    .control-bar .control-form {
        float: left;
        padding: 1px 1px 0px 1px;
        height: 32px;
    }
    .control-bar .control-form input[type="text"] {
        height: 24px;
    }
    .control-bar .pull-left .control-border {
        border-right: 1px #ccc solid;
    }
    .control-bar .pull-right .control-border {
        border-left: 1px #ccc solid;
    }
</style>