<template>
    <transition name="modal">
        <div>
            <div class="modal-wrapper column-settings">
                <div class='modal-container'>
                    <div class="modal-header">
                        <button type="button" class="close" @click="$emit('close')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">
                            Column Settings
                        </h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li v-for='option in optionsHolder' style="list-style: none;">
                                <label>
                                    <input type='checkbox' v-model='option.val'>
                                    <span>{{option.label}}</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="c-btn c-dk-green" @click='applySelection'>Apply Selection</button>
                    </div>
                </div>
            </div>
            <div class="modal-mask" @click="$emit('close')"></div>
        </div>
    </transition>
</template>

<script>
    import UserColumnSettingsService from '../../Services/UserColumnSettingsService.js';

    export default {
        props: 
        {
            columns: Array,
            module: {
                default: null
            }
        },

        data: function() {
            return {
                optionsHolder: [],
                processing: false,
                settingsHolder: {}
            }
        },

        mounted: function() {
            this.buildHolder();
        },

        methods: {
            buildHolder() {
                if(this.processing) {
                    return false;
                }

                if(this.module == null) {
                    this.buildOptions();
                    this.emitValues();
                } else {
                    let moduleId = null;
                    let key = null;
                    
                    if(typeof this.module === 'object') {
                        moduleId = this.module.id;
                        key = this.module.key;
                    } else {
                        moduleId = this.module;
                    }

                    let that = this;

                    this.processing = true;

                    UserColumnSettingsService.getByModule(moduleId)
                        .then(function(response) {
                            let settings = response.data.values.settings;
                            that.settingsHolder = settings;
                            
                            if(key != null && settings.hasOwnProperty(key)) {
                                settings = settings[key];
                            }

                            that.buildOptions(settings);
                            that.emitValues();
                            that.processing = false;
                        });
                }
            },

            buildOptions(settings = {}) {
                this.optionsHolder = [];

                for(let index in this.columns){
                    this.optionsHolder.push({
                        alias: this.columns[index].alias,
                        label: this.columns[index].label,
                        val: settings[this.columns[index].alias] != null 
                            ? settings[this.columns[index].alias]
                            : (this.columns[index].default != null ? this.columns[index].default : false)
                    });
                }
            },

            applySelection() {
                let values = this.emitValues();
                let id = this.module;

                if(this.module != null && this.module.key != null) {
                    this.settingsHolder[this.module.key] = values;
                    id = this.module.id;
                } else {
                    this.settingsHolder = values;
                }

                if(this.module != null) {
                    UserColumnSettingsService.save(id, this.settingsHolder);
                }

                this.$emit('close');
            },

            emitValues() {
                let values = {};

                for(let index in this.optionsHolder) {
                    let alias = this.optionsHolder[index].alias;
                    values[alias] = this.optionsHolder[index].val;
                }

                this.$emit('input', values);
                return values;
            }
        },

        watch: {
            columns: {
                handler: function() {
                    this.optionsHolder = [];
                    this.buildHolder();
                },
                deep: true
            },
        }
    }
</script>

<style rel="stylesheet/less" scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }
    .modal-container {
        position: absolute;
        z-index: 9999;
        top: 30px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        width: 300px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: H-Roman;
    }
    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }
    .modal-default-button {
        float: right;
    }
    /*
    * The following styles are auto-applied to elements with
    * transition="modal" when their visibility is toggled
    * by Vue.js.
    *
    * You can easily play with the modal transition by editing
    * these styles.
    */
    .modal-body ul{
        padding-left: 0px;
    }
    .modal-enter {
        opacity: 0;
    }
    .modal-leave-active {
        opacity: 0;
    }
    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .column-settings .modal-body {
        overflow: auto;
    }
</style>