<template>
    <ul class="accordion-group tree">
        <li @click='toggle'>
            <div class="list">
                <div class="system-sprite" :class="folder"></div> {{ module }}
            </div>
        </li>
        <div v-show='visible'>
            <slot name='child'></slot>
        </div>
    </ul>
</template>

<script type="text/ecmascript-6">
    export default {
        props: {
            module: {
                type: String,
                required: true
            }
        },

        data() {
            return {
                visible: false,
                folder: "folder-closed"
            }
        },

        methods: {
            toggle() {
                this.visible = !this.visible;
                this.folder = !this.visible ? "folder-closed" : "folder-opened";
            }
        }
    }
</script>

<style type="text/css">
    .accordion-group {
        padding-left: 0px;
        list-style: none;
    }
    .accordion-group .list {
        width: initial;
    }
</style>