<template>
    <li :class="{ active: active }">
        <a :href="href">
            <div class="list">
                <div class="system-sprite node" v-for="n in level"></div>
                <div class="system-sprite" :class="sprite"></div>
                <span><slot></slot></span>
            </div>
        </a>
    </li>
</template>

<script type="text/ecmascript-6">
    export default {
        props: {
            'href': {
                default: '#'
            },
            'active': {
                default: ''
            },
            'sprite': {
                default: ''
            },
            'level': {
                default: 1
            } 
        }
    }
</script>

<style type="text/css">
    .tree {
        font-size: 0;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
    }
    .tree li {
        cursor: pointer;
        display: inline-block;
        line-height: 22px;
        min-width: 100%;
        white-space: nowrap;
    }
    .tree li.active {
        background: #e1e9ea;
        cursor: initial;
    }
    .tree li.active:hover {
        background-color: #e1e9ea !important;
    }
    .tree li.active a {
        color: #337ab7;
        cursor: default;
    }
    .tree li:hover {
        background: #f5f5f5;
    }
    .tree li a,
    .tree li a:active,
    .tree li a:hover {
        text-decoration: none;
    }
    .tree div div {
        border: none;
        width: 24px;
        height: 24px;
        overflow: hidden;
    }
    .tree .list{
        display: flex;
        font-size: 12px;
        padding-right: 5px;
    }
    /*.tree .list .collapsible,
    .tree .list .expandable,
    .tree .list .line,
    .tree .list .node {
        background: url('/images/tree.png');
    }
    .tree .list .folder-closed,
    .tree .list .folder-opened,
    .tree .list .file {
        background: url('/images/folder.png');
    }
    .tree .list .collapsible {
        background-position: 0 -250px;
    }
    .tree .list .collapsible.last {
        background-position: 0px -350px;
    }
    .tree .list .expandable {
        background-position: 0 -100px;
    }
    .tree .list .expandable.last {
        background-position: 0px -150px;
    }
    .tree .list .folder-closed {
        background-position: 0 0;
    }
    .tree .list .folder-opened {
        background-position: 0 -50px;
    }
    .tree .list .line {
        background-position: 0 -400px;
    }
    .tree .list .file {
        background-position: 0 -100px;
    }
    .tree .list .node {
        background-position: 0 -450px;
    }
    .tree li:last-child .node {
        background-position: 0 -500px;
    }*/
    .system-sprite {
        margin-right: 5px;
    }
</style>