<template>
    <div class="v-accordion" :class="{ 'not-active' : !isActive }" v-if="show">
        <div class="v-accordion-header clearfix" @click="selectTab(section)">
            <div class="pull-left"><slot></slot></div>
            <div class="pull-right"><i :class="changeIcon"></i></div>
        </div>
        <div class="v-accordion-content" :class="{ 'bordered-top' : isActive }">
            <ul class="tree">
                <slot name="content"></slot>
            </ul>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        props: {
            section: { required: true },
        },

        data() {
            return {
                isActive: false,
                changeIcon: "fa fa-plus",
                links: [],
                show: true
            }
        },
        
        mounted() {
            this.getLinks(this.$children)
            this.collapse();
            this.show = this.links.length > 0;
        },

        methods: {
            selectTab(selectedTab) {
                this.$parent.tabs.forEach(tab => {
                    tab.isActive = (tab.section == selectedTab);
                    tab.changeIcon = (tab.section == selectedTab) ? "fa fa-minus" : "fa fa-plus";
                });
            },

            getLinks(children) {
                children.forEach((child) => {
                    if(child.$options._componentTag == 'accordion-link') {
                        this.links.push(child);
                    } else {
                        if(child.$children.length > 0) {
                            this.getLinks(child.$children);
                        }
                    }
                })
            },

            collapse() {
                var hasActive = false;

                for(let i = 0; i < this.links.length; i++) {
                    let link = this.links[i];

                    if(link.active) {
                        hasActive = true;
                        break;
                    }
                }

                if(hasActive) {
                    this.isActive = true;
                    this.changeIcon = "fa fa-minus";
                }
            }
        }
    }
</script>

<style type="text/css">
    .v-accordion {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
    .v-accordion .v-accordion-header {
        color: #183152;
        cursor: pointer;
        font-family: H-Roman;
        font-size: 12px;
        font-stretch: 300;
        padding: 5px 5px 5px 8px;
        transition: 0.4s;
        min-height: 31px;
        border-top: 1px #b8d0d6 solid;
    }
    .v-accordion .v-accordion-header .pull-left {
        margin-top: 2px;
        width: 80%;
    }
    .v-accordion .v-accordion-header .pull-right {
        border-radius: 2px;
        border: 1px transparent solid;
        padding: 1px 4px;
    }
    .v-accordion .v-accordion-header .pull-right:hover {
        border-color: #b8d0d6;
    }
    .v-accordion-content {
        overflow: auto;
        background: #fff;
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        background: #fff;
        font-family: H-Roman;
    }
    .v-accordion .v-accordion-content.bordered-top {
        border-top: 1px #b8d0d6 solid;
    }
    .v-accordion.not-active {
        flex: 0 0 auto;
    }
    .v-accordion.not-active .v-accordion-content {
        height: 0px;
    }
    .v-accordion .v-accordion-content .tree {
        flex: 1;
    }
    .main-sidebar .v-accordion:last-child {
        border-bottom: 1px #b8d0d6 solid;
    }
</style>