<template>
    <div class="sidebar" :class="sidebarClass">
        <div class="main-sidebar">
            <slot></slot>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        data() {
            return {
                tabs: [],
                isShow: true,
                sidebarClass: ''
            };
        },

        created() {
            this.tabs = this.$children;
        }
    }
</script>

<style type="text/css">
    .sidebar-wrapper {
        display: flex;
        flex-direction: column;
        flex-basis: 200px;
        min-width: 200px;
    }
    .sidebar-wrapper #tabs {
        padding-top: 0px;
        border-top: initial;
    }
    .sidebar-wrapper #tabs .c-nav-tab {
        width: 49.9%;
        border: 1px #ccc solid;
        margin-left: 0px;
        text-align: center;
        background: #ddd;
        font-family: Arial;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .sidebar-wrapper #tabs .c-nav-tab.active {
        background: #e7eff0;
    }
    .sidebar-wrapper #tabs .c-nav-tab:not(.active):hover {
        background: #e5e5e5;
    }
    .sidebar-wrapper .custom-menu {
        flex: 1;
        background: #fff;
        border-right: 1px #ccc solid;
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-right: 1px #b8d0d6 solid;
        background: #e7eff0;
        flex: 1;
    }
    .main-sidebar {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .accordion-header {
        flex-basis: auto;
        flex-direction: column;
        flex-grow: 0;
        color: #183152;
        cursor: pointer;
        font-family: H-Roman;
        font-size: 12px;
        font-stretch: 300;
        padding: 5px 5px 5px 8px;
        transition: 0.4s;
    }
    .accordion-header .pull-left {
        margin-top: 2px;
        width: 80%;
    }
    .accordion-header .pull-right {
        border-radius: 2px;
        border: 1px transparent solid;
        padding: 1px 4px;
    }
    .accordion-header .pull-right:hover {
        border-color: #b8d0d6;
    }
    .accordion-content {
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        flex: 1;
        background: #fff;
        border-bottom: 1px #b8d0d6 solid;
        font-family: H-Roman;
        overflow: auto;
    }
    .sidebar-icon {
        position: absolute;
        top: 300px;
        cursor: pointer;
        height: 58px;
        width: 7px;
    }
    .sidebar-icon.opened {
        left: 200px;
        background: url('/images/demo_sprites.png') -210px 0 no-repeat;
    }
    .sidebar-icon.closed {
        left: initial;
        background: url('/images/demo_sprites.png') -220px 0 no-repeat;
    }
</style>