<template>
    <timepicker 
        v-model='timeInternal'
        :hideClearButton='hideClearButton'
        :format='format'
        :minuteInterval='minuteInterval'
        :secondInverval='secondInverval'
        :id='id'
    ></timepicker>
</template>

<script>
    import Timepicker from '../Timepicker/Timepicker.vue';

    export default {
        components: {
            Timepicker
        },
        props: {
            value: {},
            hideClearButton: {
                type: Boolean,
                default: false
            },
            format: {
                type: String,
                default: 'HH:mm'
            },
            minuteInterval: {
                type: Number,
                default: undefined
            },
            secondInverval: {
                type: Number,
                default: undefined
            },
            id: {
                type: String,
                default: 'timepicker-2'
            }
        },
        data: function (){
            return {
                    timeInternal: {
                    HH: '',
                    mm: '',
                    ss: '00'
                },
                timePickerPropsInternal: {
                    hideClearButton: false,
                    format: '',
                    minuteInterval: undefined,
                    secondInverval: undefined,
                    id: ''
                }
            }
        },
        mounted: function() {
            this.setTime();
        },
        methods: {
            onChange() {
                this.$emit('input', this.time);
            },
            setTime() {
                let time = this.value.split(':');
                this.timeInternal.HH = time[0];
                this.timeInternal.mm = time[1];
            }
        },
        watch: {
            timeInternal: {
                handler: function() {
                    this.onChange();
                },
                deep: true
            },
            value: function(value) {
                this.setTime();
            },
        },
        computed: {
            time: function() {
                return this.timeInternal.HH + ':' + this.timeInternal.mm + ':' + this.timeInternal.ss;
            }
        }
    }
</script>
