<template>
    <li>
        <div v-for="n in currentLevel"></div>
        <div class="v-tree-item-node" :class="[nodeClass, { node: !hasChildren }]" @click="toggle"></div>
        <span :class="currentSelected" @click.stop="selectItem">
            <span class="code" v-show='optional'>
                {{ nodes.code }}
            </span>
            {{ nodes.name }}
        </span>
        <ul class="v-tree-item-parent" v-show="open">
            <tree-item v-for="node in nodes.children" :nodes="node" :level='currentLevel' :optional='optional'></tree-item>
        </ul>
    </li>
</template>

<script>
    import TreeItem from '../TreeView/TreeItem.vue';

    window.TreeItem = TreeItem;

    export default{
        name: 'tree-item',
        props: {
            nodes: Object,
            level: Number,
            optional: {
                type: Boolean,
                default: false
            },
            collapsed: {
                type: Boolean,
                default: false
            }
        },
        components: {
            TreeItem
        },
        data: function(){
            return {
                currentSelected: '',
                open: false,
                nodeClass: 'folder-closed',
                id: 0
            }
        },
        mounted: function() {
            this.open = this.collapsed;
            if(this.collapsed)
            {
                this.id = this.nodes.id;
                this.nodeClass = 'folder-opened';
            }
        },
        computed: {
            hasChildren: function() {
                return this.nodes.children && this.nodes.children.length
            },
            currentLevel: function() {
                return this.level + 1;
            }
        },
        methods: {
            selectItem()
            {
                this.currentSelected = 'selected';
                this.id = this.nodes.id;
                TreeItemDispatcher.$emit('removeSelected', this.nodes);
                TreeItemDispatcher.$emit('listChild', {'children': this.nodes.children});
                TreeItemDispatcher.$emit('selected', this.nodes.id);
            },
            removeSelected(selectedNode)
            {
                if(this.nodes != selectedNode)
                {
                    this.id = 0;
                    this.currentSelected = '';
                }
            },
            toggle(){
                if(this.hasChildren){
                    this.open = !this.open;
                    this.nodeClass = (this.open && this.hasChildren) ? 'folder-opened' : 'folder-closed';
                }
            },
            addChild(field)
            {
                if(this.id != 0)
                {
                    this.nodes.children.push({id:field.id, code: field.code, optional:this.optional, name: field.name, children:[]});
                    if(!this.open)
                        this.toggle();
                }
            },
            deleteChild(data)
            {
                if(this.nodes.id == data.parentId) {
                    this.nodes.children.splice(data.index, 1);
                }
            },
            updateChild(data)
            {
                if(this.nodes.id == data.id)
                {
                    this.nodes.code = data.code;
                    this.nodes.name = data.name;
                }
            }
        },
        created: function() {
            TreeItemDispatcher.$on('removeSelected', this.removeSelected);
            TreeItemDispatcher.$on('addChild', this.addChild);
            TreeItemDispatcher.$on('deleteChild', this.deleteChild);
            TreeItemDispatcher.$on('updateChild', this.updateChild);
        }
    }
</script>

<style type="text/css">
    .v-tree-item-root,
    .v-tree-item-root ul {
        padding-left: 0px;
        padding-bottom: 0px;
        list-style: none;
    }
    .v-tree-item-root li {
        white-space: nowrap;
        padding-bottom:  0px;
    }
    .v-tree-item-root span.selected {
        background-color: #4286f4;
        color: #fff;
    }
    .v-tree-item-root li {
        font-size: 0;
    }
    .v-tree-item-root li span:not(.code) {
        white-space: nowrap;
        font-size: 12px;
        position: relative;
        padding: 3px;
        left: 3px;
        bottom: 2px;
        cursor: pointer;
    }
    .v-tree-item-root div {
        display: inline-block;
        margin-bottom: -5px;
        width: 22px;
        height: 22px;
    }
    .v-tree-item-node {
        background: url('/images/folder.png');
        background-position: 0 -50px;
    }
    .v-tree-item-root .v-tree-item-node.folder-closed,
    .v-tree-item-root .v-tree-item-node.folder-opened {
        cursor: pointer;
    }
    .v-tree-item-root .v-tree-item-node.folder-closed {
        background-position: 0 0px;
    }
    .v-tree-item-root .v-tree-item-node.folder-opened {
        background-position: 0 -50px;
    }
    .v-tree-item-root .v-tree-item-node.node {
        cursor: default;
        background-position: 0 -100px;
    }
</style>