<template>
    <ul class="parent-child-list">
        <li v-for='(item, index) in value' :class="'child-' + item.level + ' ' + activeClass(index)" v-show='visibility[index]' @click.stop='active(index);selected=index'>
            <i :class="toggle[index]" @click.stop='toggleCaret(item, index)'></i>
            <span>{{ item.label }}</span>
        </li>
    </ul>
</template>

<script>
    export default {
        props: {
            value: Array
        },
        data: function() {
            return {
                toggle: [],
                visibility: [],
                selected: 0,
            }
        },
        mounted: function() {
            if(this.value.length > 0) {
                this.fillVisibility(this.value);
                this.fillToggle(this.value);
            }
        },
        watch: {
            tree: {
                handler: function(items) {
                    if(items.length > 0) {
                        this.fillVisibility(items);
                        this.fillToggle(items);
                    }
                },
                deep: true
            }
        },
        methods: {
            fillVisibility(items) {
                for(let key in items) {
                    Vue.set(this.visibility, key, false);
                    if(items[key].level == 1) {
                        Vue.set(this.visibility, key, true);
                    }
                }
            },
            fillToggle(items) {
                for(let key in items) {
                    Vue.set(this.toggle, key, '');
                    if(items[key].hasChild) {
                        Vue.set(this.toggle, key, 'fa fa-caret-right');
                    }
                }
            },
            toggleCaret(item, index) {
                if(this.value[index].hasChild) {
                    if(this.toggle[index] == 'fa fa-caret-right') {
                        Vue.set(this.toggle, index, 'fa fa-caret-down');
                        this.showChild(item.id);
                    } else {
                        Vue.set(this.toggle, index, 'fa fa-caret-right');
                        this.hideChild(item.id);
                    }
                }
            },
            showChild(parentId) {
                for(let index in this.value) {
                    if(this.value[index].parent == parentId) {
                        Vue.set(this.visibility, index, true);
                    }
                }
            },
            hideChild(parentId) {
                for(let index in this.value) {
                    if(this.value[index].parent == parentId) {
                        Vue.set(this.visibility, index, false);
                        if(this.value[index].hasChild) {
                            Vue.set(this.toggle, index, 'fa fa-caret-right');
                        }
                        this.hideChild(this.value[index].id);
                    }
                }
            },
            active(index) {
                let model = this.value.slice(0);

                for(let i=0; i < model.length; i++) {
                    model[i].active = false
                }

                model[index].active = true;

                this.$emit('input', model);
            },
            activeClass(index) {
                if(index == this.selected) {
                    return 'selected'
                }
            }
        }
    }
</script>

<style type="text/css">
    .parent-child-list {
        padding-left: 0px;
    }
    .parent-child-list,
    .parent-child-list ul,
    .parent-child-list ul li {
        list-style: none;
    }
    .parent-child-list span {
        display: inline-block;
        max-width: 250px;
        font-family: Arial;
    }
    .parent-child-list li {
        padding: 5px;
        font-style: Arial;
    }
    .parent-child-list li.selected {
        background-color: #4286F4;
        color: #fff;
    }
    .parent-child-list li:not(.selected):hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
    .parent-child-list i {
        display: inline-block;
        width: 7px;
        height: 10px;
        vertical-align: top;
        position: relative;
        top: 1px;
    }
    .parent-child-list .child-2 {
        padding-left: 15px;
    }
    .parent-child-list .child-3 {
        padding-left: 30px;
    }
</style>