<template>
    <div :class="'alert alert-'+ type +' alert-dismissible'" v-show="visible">
        <button type="button" class="close" @click="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <slot>This is a label message</slot>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        props: {
            type: String,
            show: Boolean,
            timer: {
                type: Boolean,
                default: true
            }
        },

        data() {
            return {
                visible: this.show,
                timeout: null
            }
        },

        methods: {
            close() {
                if(this.visible) {
                    this.visible = false;
                    clearTimeout(this.timeout);
                    this.$emit('close');
                }
            },

            setTimeOut() {
                let that = this;

                clearTimeout(this.timeout);

                this.timeout = setTimeout(function() {
                    that.close();
                }, 4000);
            }
        },
        watch: {
            'show': function(visible) {
                this.visible = visible;

                if(this.visible && this.timer) {
                    this.setTimeOut();
                }
            }
        }
    }
</script>

<style type="text/css">
    .alert {
        position: relative;
        font-family: H-Roman;
        font-size: 13px;
        margin-bottom: 0px;
        padding: 10px 20px 10px 15px;
        z-index: 1;
    }
    .alert ul{
        padding-left: 0px;
        list-style: none;
    }
    .alert-dismissible .close {
        position: absolute;
        top: -4px;
        right: 3px;
        font-size: 16px;
        opacity: 1;
        line-height: initial;
        outline: 0;
    }
    .alert-dismissible .close:focus {
        color: inherit;
        opacity: 1;
    }
    .alert-dismissible .close:hover {
        opacity: 0.5;
    }
    .alert-success {
        background-color: #C8E6C9;
        border: 2px green solid;
    }
    .alert-danger {
        background-color: #FFCCBC;
        border: 2px #a94442 solid;
    }
    .alert-warning {
        background-color: #FFECB3;
        border: 2px #8a6d3b solid;
    }
    .alert-info {
        background-color: #B3E5FC;
        border: 2px #31708f solid;
    }
</style>
