<template>
    <div class="v-carousel">
        <div class="v-carousel__item" v-for="image in images">
            <img :src=image.link>
        </div>
        <div class="v-carousel__actions">
            <button class="v-carousel__actionBtn" @click="plusSlides(-1)">PREVIOUS</button>
            <button class="v-carousel__actionBtn" @click="plusSlides(1)">NEXT</button>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        props: {
            images: {},
            visible: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                slideIndex: 1,
                productImages: this.images,
            }
        },

        watch: {
            visible: function() {
                let that = this;

                if(that.visible) {
                    that.showSlides(that.slideIndex);
                } else {
                    that.slideIndex = 1;
                }
            }
        },

        methods: {
            plusSlides(n) {
                this.showSlides(this.slideIndex += n);
            },

            currentSlide(n) {
                this.showSlides(this.slideIndex = n);
            },

            showSlides(n) {
                let i;

                let slides = document.getElementsByClassName("v-carousel__item");

                if (n > slides.length) {
                    this.slideIndex = 1;
                }

                if (n < 1) {
                    this.slideIndex = slides.length
                }

                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }

                this.$nextTick(() => {
                    slides[this.slideIndex-1].style.display = "block";
                });
            }
        },
    }
</script>

<style type="text/css">
    .v-carousel {
        margin: auto;
        padding: 15px;
    }
    .v-carousel__item {
        display: none;
        max-height: 400px;
        overflow: auto;
    }
    .v-carousel__actions {
        text-align: center;
        padding: 5px 10px;
        border-top: 1px #ccc solid;
    }
    .v-carousel__actionBtn {
        border: none;
        background-color: #607386;
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        border-radius: 4px;
        padding: 7px;
        font-family: H-Bold;
        text-transform: uppercase;
        white-space: nowrap;
        outline: none;
    }
    .v-carousel__actionBtn:hover {
        background-color: #687b8e;
    }
</style>
