<template>
    <transition name="modal">
        <div v-show="show" :id="id">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <button type="button" class="close" @click="$emit('close')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"><slot name="header"></slot></h4>
                    </div>
                    <div class="modal-body">
                        <slot name="content"></slot>
                    </div>
                    <div class="modal-footer">
                        <input type="button" ref="ok" name="ok" class="c-btn c-dk-blue" :value="ok" @click="$emit('ok')"/>
                        <input type="button" name="cancel" class="c-btn c-dk-red" :value="cancel" @click="$emit('cancel')"/>
                    </div>
                </div>
            </div>
            <div class="modal-mask" @click="$emit('close')"></div>
        </div>
    </transition>
</template>

<script type="text/ecmascript-6">
    export default {
        props: {
            id: String,
            show: Boolean,
            ok: String,
            cancel: String
        },

        updated() {
            if (this.show) {
                this.$refs.ok.focus();
            }
        },
    }
</script>

<style rel="stylesheet" scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-container {
        position: absolute;
        z-index: 9999;
        top: 30px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        width: 300px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: H-Roman;
    }

    .modal-footer {
        height: 56px;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-default-button {
        float: right;
    }

    .modal-footer {
        height: 56px;
    }

    /*
    * The following styles are auto-applied to elements with
    * transition="modal" when their visibility is toggled
    * by Vue.js.
    *
    * You can easily play with the modal transition by editing
    * these styles.
    */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>
