<template>
    <div class="chosen">
        <div :tabindex="!disabled && !backTabbed ? 0 : -1" @focus="toggle" @mousedown.prevent="toggle">
            <div class="clearfix" :class="typeClass">
                <span :value='display.id' v-for='display in selectedArray' :class="{disabled:disabled}">
                    <div class="display-label">{{ display.label }}</div>
                    <i class="fa fa-close" @click.stop='removeSelect(display)' v-show='multiple'></i>
                </span>
                <i :class="icon"></i>
            </div>
        </div>
        <div class="selector" v-show="showDropdown">
            <div class="search">
                <input @keydown="keyHandler" type="text" ref="text" v-model='searchInput' @blur="close">
            </div>
            <ul ref="list">
                <li
                    v-for="(option, index) in selectOptions"
                    :class="(index === selectOptionIndex) ? 'focus' : ''"
                    :value='option.id'
                    @mousedown.prevent='select(option)'
                >{{ customLabel(option) }}</li>
            </ul>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import Axios from 'axios';

    export default {
        props: 
        {
            options: Array,
            multiple: {
                type: Boolean,
                default: false
            },
            value: {},
            custom: {
                type: String,
                default: ''
            },
            placeholder: {
                type: String,
                default: ''
            },
            row: {

            },
            disabled: {
                type: Boolean,
                default: false
            },
            callback: null
        },

        data() {
            return {
                backTabbed :  false,
                showDropdown: false,
                icon: 'fa fa-angle-down fa-lg',
                typeClass: 'selected',
                selectOptionIndexClone : -1,
                selectOptionIndex: -1,
                selectedArray: [],
                searchInput: '',
                selectOptions: [],
                tempValue: [],
                buffer: {
                    value: [],
                    options: []
                }
            }
        },

        mounted: function(){
            this.selectOptions = this.options;

            if(this.multiple)
                this.typeClass = this.typeClass+' multiple';

            if(this.options.length > 0)
                this.loadValue();

            if(this.placeholder != null && this.placeholder != '') {
                this.selectedArray.push({
                    id: 0,
                    label: this.placeholder,
                    attribute: '0'
                });
            }
        },

        watch: {
            searchInput: function() {

                this.selectOptionIndex = -1;

                if (typeof this.callback === 'function') {
                    if (this.searchInput !== '') {
                        this.delayedSearch();
                    } else {
                        clearTimeout(this.timeout);
                        this.checkNoResults();
                    }
                } else {
                    this.search();
                }
            },
            options: function(options) {
                this.selectOptions = options;
                this.selectOptionIndex = -1;

                this.rebuild('selectedArray');

                if(!this.multiple 
                    && this.value !== ''
                    && typeof this.callback !== 'function'
                ) {
                    this.checkIfSelectedExists();
                }

                if(typeof this.callback === 'function'
                     && this.searchInput !== ''
                ){
                    if(!this.options.length > 0)
                        this.checkNoResults();
                }
            },
            value: function() {
                if(this.options !== undefined && this.options.length > 0) {
                    this.loadValue();
                    // this.$emit('change');
                }
            },
            selectOptionIndex: function() {
                let index = this.selectOptionIndex;
                let indexClone = this.selectOptionIndexClone;
                let optionsContainer = this.$el.querySelector('.selector ul');
                let optionsLength = this.selectOptions.length;

                if (index > -1){
                    if (index > 3 && index > indexClone){
                        optionsContainer.scrollTop += (optionsContainer.clientHeight / 4);
                    }
                    if (index < (optionsLength - 4) && index < indexClone){
                        optionsContainer.scrollTop -= (optionsContainer.clientHeight / 4);
                    }
                }
            }
        },

        methods: {
            //initialization of default(edit)
            loadValue() {
                //Checks if array or not, uses tempValue to avoid mutating prop directly
                if(!Array.isArray(this.value)) 
                    this.tempValue = [this.value];
                else
                    this.tempValue = this.value;

                //sets initial value
                let valueHolder = this.tempValue;

                //Clears selected to avoid duplicates
                this.selectedArray = [];

                //Modifies value holder based on value(on load, edit, clear)
                if(this.multiple) { //Multiple
                    if(this.value == '' || this.value == 0) //No Value
                        return;
                } else if(!this.multiple) { //Single
                    if(this.value == '' || this.value == 0){ //Defaults into first option
                        valueHolder = [this.options[0].id];
                        this.$emit('input', this.options[0].id);
                    }
                }

                for(let key in this.options) {
                    if(valueHolder.indexOf(this.options[key].id) != -1) {
                        let tempLabel = this.options[key].label;
                        
                        if(this.custom != '')
                            tempLabel = this.options[key][this.custom];

                        this.selectedArray.push({
                            id: this.options[key].id,
                            label: tempLabel,
                            attribute: this.options[key].attribute != null ? this.selectOptions[key].attribute : '0'
                        });
                    }
                }

                this.$emit('attribute', {
                    row: this.row,
                    attribute: this.rebuildAttribute()
                })
            },

            //click on dropdown option
            select(option) {
                // Prevent selection of 'No Results Found'
                if(option.id == 0 || this.isSelected(option.id)) {
                    return false;
                }
                //Clears single selected
                else if(!this.multiple) {
                    this.selectedArray = [];
                }

                this.selectedArray = this.selectedArray.filter(function(item) {
                    return 0 != item.id;
                });

                let tempLabel = this.custom != '' ? option[this.custom] : option.label;
                
                this.selectedArray.push({
                    id: option.id, 
                    label: tempLabel,
                    attribute: option.attribute != null ? option.attribute : '0'
                });

                this.buffer.value = [];
                this.buffer.options = [];

                this.toggle();
                this.$emit('input', this.rebuildEmit());
                this.$emit('change');let that = this;

                if(typeof this.callback === 'function'){
                    this.$emit('selected', this.multiple ? this.selectedArray : this.selectedArray[0]);
                    this.selectedArray = [];
                } else this.$emit('selected');

                this.$emit('attribute', {
                    row: this.row,
                    attribute: this.rebuildAttribute()
                });
            },

            //X button on multiple
            removeSelect(option) {
                //removes option from selected array
                this.selectedArray = this.selectedArray.filter(function(item) {
                    return item.id != option.id
                });

                // Removes 'No Results Found'
                this.selectOptions = this.selectOptions.filter(function(item) {
                    return 0 != item.id;
                });

                //rebuilds select options
                this.rebuild('selectOptions');
                this.checkNoSelected();
                this.$emit('input', this.rebuildEmit());
            },

            //rebuilds dropdown options based on search input
            //removes selected on multiple to avoid duplicates
            search() {
                let tempHolder = [];
                let found = false;
                let regexString = new RegExp(this.searchInput, "i");
                
                for(let key in this.options) {
                    if(this.options[key][this.custom!=''?this.custom:'label'].match(regexString) != null)
                    {
                        found = false;
                        for(let insideKey in this.selectedArray){
                            if(this.options[key].id == this.selectedArray[insideKey].id) {
                                found = true;
                            }
                        }

                        if(!found || !this.multiple)
                            tempHolder.push(this.options[key]);
                    }
                }

                this.selectOptions = tempHolder;
                this.rebuild('selectOptions');
                this.checkNoResults();
            },

            //dropdown options functions
            //remove selected on dropdown on multiple to avoid duplicate select
            removeSelectOptions(id) {
                this.selectOptions = this.selectOptions.filter(function(item) {
                    return id != item.id;
                });

                this.checkNoResults();
            },

            //selectOptions - Resorts dropdown options to original on removing (multiple)
            //selectedArray - Rebuilds selected array on dynamic options(ie. chaging options prop)
            rebuild(holder) {
                let tempHolder = [];

                for(let key in this.options) {
                    for(let insideKey in this[holder]) {
                        if(this.options[key].id == this[holder][insideKey].id)
                            tempHolder.push(this.options[key]);
                    }
                }

                this[holder] = tempHolder;
            },

            //Adds No Results on search and adding all options on multiple
            checkNoResults() {
                if(this.selectOptions.length == 0) {
                    this.selectOptions.push({
                        id: 0,
                        label: 'Sorry, no matching options.'
                    })
                } else if (this.selectOptions.length && typeof this.callback === 'function'){
                    this.$emit('fresh');
                }
            },

            checkNoSelected() {
                if(this.selectedArray.length == 0 && this.placeholder != null && this.placeholder != '') {
                    this.selectOptions.push({
                        id: 0,
                        label: this.placeholder
                    })
                }
            },

            checkIfSelectedExists() {
                let found = false;

                for(let key in this.selectOptions) {
                    if(this.value == this.selectOptions[key].id) {
                        
                        this.selectedArray = [{
                            id: this.value,
                            label: this.selectOptions[key].label,
                            attribute: this.selectOptions[key].attribute
                        }];

                        found = true;
                        break;
                    }
                }

                if(!found) {
                    this.selectedArray = [];
                    this.$emit('input', null);
                }
            },

            //output functions
            //combines all ids for emit, determines datatype of output
            rebuildEmit() {
                let tempHolder = [];
                for(let key in this.selectedArray) {
                    if(this.selectedArray[key].id != 0)
                        tempHolder.push(this.selectedArray[key].id);
                }
                if(this.multiple)
                    return tempHolder;
                else
                    return tempHolder[0];
            },

            //combines all attributes for emit, determines datatype of output
            rebuildAttribute() {
                let tempHolder = [];
                for(let key in this.selectedArray) {
                    if(this.selectedArray[key].attribute != 0)
                        tempHolder.push(this.selectedArray[key].attribute);
                }
                if(this.multiple)
                    return tempHolder;
                else
                    return tempHolder[0];
            },

            customLabel(option) {
                if(this.custom != '' && option.label == null)
                    return option[this.custom];
                else
                    return option.label;
            },

            //Toggle functions
            toggle() {
                let that = this;

                if(this.disabled) {
                    return false;
                }

                this.showDropdown = !this.showDropdown;
                this.icon = (!this.showDropdown) ? 'fa fa-angle-down fa-lg' : 'fa fa-angle-up fa-lg';

                if (this.showDropdown) {

                    this.$emit('click');
                    this.$emit('fresh');

                    // Auto focus when chosen is clicked
                    setTimeout(function() {
                        that.$refs.text.focus();
                    }, 50);

                    // Code for chosen with callback
                    // Buffer value before selecting or searching
                    if (typeof this.callback === 'function') {
                        this.buffer.value = this.selectedArray;
                        this.buffer.options = this.selectOptions;
                    }
                } else {
                    this.close();
                }
            },

            close() {
                this.off();

                if (typeof this.callback === 'function') {
                    this.revertCallbackContent();
                }
            },

            off() {
                this.showDropdown = false;
                this.icon = 'fa fa-angle-down fa-lg';
                this.searchInput = '';
            },

            /**
             * Reverts value and options if value is unchanged 
             */
            revertCallbackContent() {
                let that = this;

                // Add timeout to let the value bind when the user select
                // an option
                setTimeout(function() {

                    if (that.buffer.value.length > 0
                        && that.buffer.value[0].id == that.value
                    ) {
                        that.selectedArray = that.buffer.value.slice(0);
                        that.$emit('update:options', that.buffer.options.slice(0));
                        that.$emit('input', that.rebuildEmit());
                        that.buffer.value = [];
                        that.buffer.options = [];
                    }
                }, 50);
            },

            isSelected(option) {
                let exists = false;

                if (typeof this.callback === 'function') {
                    if (option == this.value) {
                        this.off();
                        return true;
                    }
                } else {
                    for (var i = 0; i < this.selectedArray.length; i++) {
                        let current = this.selectedArray[i];

                        if (current.id == option) {
                            exists = true;

                            if (!this.multiple) {
                                this.off();
                            }

                            break;
                        }
                    }
                }

                return exists;
            },

            delayedSearch() {
                let that = this;

                clearTimeout(this.timeout);

                this.timeout = setTimeout(function() {
                    Axios.all([that.callback(that.searchInput)])
                        .then(function(response) {})
                        .catch(function(error){
                            console.log({delayedSearchError : error})
                        });
                }, 300);
            },

            keyHandler(event) {
                let key = event.which;

                if ([13, 38, 40].indexOf(key) > -1){
                    event.preventDefault();
                    this.handleOptions(key);
                } else if (event.shiftKey && event.keyCode === 9){
                    this.handleBackTab();
                }
            },

            handleOptions(key) {
                let index = this.selectOptionIndex;
                this.selectOptionIndexClone = index;

                if(this.selectOptions.length){
                    let optionsLength = this.selectOptions.length;

                    switch(key){
                        case 13:
                            this.select(this.selectOptions[index]);
                            break;
                        case 38:
                            if(index - 1 >= 0) {
                                index = index - 1;
                            }
                            break;
                        case 40:
                            if(index + 1 <= (optionsLength - 1)) {
                                index = index + 1;
                            }
                    }
                }

                this.selectOptionIndex = index;
            },

            handleBackTab() {
                this.backTabbed = true;

                let that = this;

                setTimeout(function() {
                    that.backTabbed = false;
                }, 10)
            },
        },
    }
</script>

<style type="text/css">
    .chosen {
        position: relative;
        border-radius: 3px;
        min-width: 150px;
        max-width: 150px;
    }
    .chosen ul {
        overflow-y: auto;
        max-height: 100px;
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;
    }
    .chosen ul li {
        padding: 5px 7px;
        cursor: pointer;
        /*white-space: nowrap;*/
        word-break: break-all;
        /*overflow: hidden;*/
        /*text-overflow: ellipsis;*/
        /*height: 25px;*/
    }
    .chosen ul li:hover, .chosen ul .focus{
        color: #fff;
        background-color: #2c83a8;
    }
    .chosen .selected {
        background-color: #fff;
        padding: 3px;
        border: 1px #ccc solid;
        min-height: 25px;
    }
    .chosen .selected span {
        font-size: 12px;
        white-space: nowrap;
        float: left;
        width: 92%;
    }
    .chosen .selected span .display-label {
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .chosen .selected .fa-angle-up,
    .chosen .selected .fa-angle-down {
        position: absolute;
        cursor: pointer;
        top: 6px;
        right: 5px;
        float: right;
    }
    .chosen .selector {
        width: 100%;
        z-index: 1;
        position: absolute;
        border-left: 1px #ccc solid;
        border-right: 1px #ccc solid;
        border-bottom: 1px #ccc solid;
        background-color: #fff;
    }
    .chosen .selector .search {
        padding: 3px;
        background-color: #fff;
    }
    .chosen .selector .search input {
        border-radius: 0px;
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
    }
    .chosen .selected.multiple span {
        display: block;
        float: left;
        border: 1px #ccc solid;
        background: #f5f5f5;
        border-radius: 3px;
        margin-left: 3px;
        padding: 1px 4px;
        width: auto;
        position: relative;
    }
    .chosen .selected.multiple span .fa-close {
        margin-left: 5px;
        color: #222;
    }
    .chosen .selected.multiple span .display-label {
        float: left;
    }
    .chosen .disabled {
        opacity: 0.5;
    }
    .chosen.required .selected {
        background-color: #fffad6;
    }
</style>
