<template>
    <div class="curtain">
        <div class="curtain-header curtain-blue">
            <label class="radio-chkbx">
                <input type="checkbox" v-model="value.checked">
                <span>{{ name }}</span>
            </label>
        </div>
        <div class="curtain-body">
            <table>
                <tr>
                    <td>Header Name:</td>
                    <td><input type="text" v-model="value.header_name" :disabled="!value.checked" maxlength="40" ></td>
                </tr>
                <tr>
                    <td>Cell Width:</td>
                    <td><number-input v-model="value.width" :disabled="!value.checked" :precision="false" max="999" ></number-input></td>
                </tr>
                <tr>
                    <td>Text Align:</td>
                    <td>
                        <select v-model="value.textAlign" :disabled="!value.checked">
                            <option value="left">LEFT</option>
                            <option value="center">CENTER</option>
                            <option value="right">RIGHT</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Type:</td>
                    <td>
                        <select v-model="value.type" :disabled="!value.checked">
                            <option :value="type.TEXT">Text</option>
                            <option :value="type.NUMERIC">Numeric</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import NumberInput from '../NumberInput/NumberInput.vue';

    export default {

        data: function(){
            return {
                type: COLUMN_TYPE,
            }
        },

        components:{
            NumberInput,
        },

        props: {
            name : {
                type: String,
                required: true,
            },
            value : {
                required: true,
            },
        },
    }
</script>

<style type="text/css">
    .curtain-header {
        background: #dbdbdb;
        border: 1px #ccc solid;
        padding-left: 6px;
        padding-bottom: 4px;
    }
    .curtain-header.curtain-blue {
        background: #2978BC;
        border: 1px #1d5e93 solid;
        color: #fff;
    }
    .curtain-header.curtain-red {
        background: #D14947;
        border: 1px #a53333 solid;
        color: #fff;
    }
    .curtain-header.curtain-green {
        background: #136b23;
        border: 1px #0b4917 solid;
        color: #fff;
    }
    .curtain-body > table {
        width: 100%;
    }
    .curtain-body > table td {
        padding: 3px;
        font-size: 11px;
        font-family: Arial;
    }
    .curtain-body > table td:nth-of-type(1) {
        width: 80px;
    }
    .curtain-body {
        border-left: 1px #ccc solid;
        border-bottom: 1px #ccc solid;
        border-right: 1px #ccc solid;
        padding: 3px;
    }
</style>