<template>
    <div class="date-time-picker clearfix" v-bind:class="{disable: disabled, left: left}">
        <datepicker 
            v-model='dateInternal'
            :name='datePickerPropsInternal.name'
            :id='datePickerPropsInternal.id'
            :format='datePickerPropsInternal.format'
            :language='datePickerPropsInternal.language'
            :disabled='datePickerPropsInternal.disabled'
            :highlighted='datePickerPropsInternal.highlighted'
            :placeholder='datePickerPropsInternal.placeholder'
            :inline='datePickerPropsInternal.inline'
            :inputClass='datePickerPropsInternal.inputClass'
            :wrapperClass='datePickerPropsInternal.wrapperClass'
            :mondayFirst='datePickerPropsInternal.mondayFirst'
        ></datepicker>
        <timepicker 
            v-model='timeInternal'
            :hideClearButton='timePickerPropsInternal.hideClearButton'
            :format='timePickerPropsInternal.format'
            :minuteInterval='timePickerPropsInternal.minuteInterval'
            :secondInverval='timePickerPropsInternal.secondInverval'
            :id='timePickerPropsInternal.id'
        ></timepicker>
        <div v-if='disabled' class="mask"></div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import Timepicker from '../Timepicker/Timepicker.vue';
    import Format from '../../Classes/Format';

    export default {
        components: {
            Datepicker,
            Timepicker
        },
        props: {
            value: {},
            disabled: {
                type: Boolean,
                default: false
            },
            date: {
                type: Object
            },
            time: {
                type: Object
            },
            left: {
                type: Boolean,
                default: false
            },
            id: {
                type: String,
                default: 'datetimepicker'
            }
        },
        data: function (){
            return {
                dateInternal: '',
                timeInternal: {
                    HH: '',
                    mm: '',
                    ss: ''
                },
                datePickerPropsInternal: {
                    name: '',
                    id: '',
                    format: 'dd MMM yyyy',
                    language: 'en',
                    disabled: {},
                    highlighted: {},
                    placeholder: '',
                    inline: false,
                    inputClass: '',
                    wrapperClass: '',
                    mondayFirst: false,
                    disabledDates: {}
                },
                timePickerPropsInternal: {
                    hideClearButton: false,
                    format: '',
                    minuteInterval: undefined,
                    secondInverval: undefined,
                    id: ''
                }
            }
        },
        mounted: function() {
            Object.assign(this.datePickerPropsInternal, this.date);
            Object.assign(this.timePickerPropsInternal, this.time);
            this.setIds();
            this.setDateTime();
        },
        methods: {
            onChange() {
                this.$emit('input', this.datetime);
            },
            setDateTime() {
                this.dateInternal = this.value === '' ? new Date() : new Date(this.value);
                this.timeInternal.HH = this.pad(this.dateInternal.getHours());
                this.timeInternal.mm = this.pad(this.dateInternal.getMinutes());
                this.timeInternal.ss = this.pad(this.dateInternal.getSeconds());
            },
            pad(time) {
                if(time < 10)
                    return '0' + time;
                else 
                    return time.toString();
            },
            setIds() {
                this.datePickerPropsInternal.id = this.id + '-datepicker';
                this.timePickerPropsInternal.id = this.id + '-timepicker';
            }
        },
        watch: {
            dateInternal: function() {
                this.onChange();
            },
            timeInternal: {
                handler: function() {
                    this.onChange();
                },
                deep: true
            },
            value: function(value) {
                this.setDateTime();
            },
            date: {
                handler: function(value) {
                    Object.assign(this.datePickerPropsInternal, value);
                },
                deep: true
            },
            time: {
                handler: function(value) {
                    Object.assign(this.timePickerPropsInternal, value);
                },
                deep: true
            }
        },
        computed: {
            datetime: function() {
                let date = Format.instance().make({date: this.dateInternal}, {date: 'date'}).date;
                return date + ' ' + this.timeInternal.HH + ':' + this.timeInternal.mm + ':' + this.timeInternal.ss;
            }
        }
    }
</script>

<style type="text/css">
    .date-time-picker{
        position: relative;
    }
    .date-time-picker.left .vdp-datepicker .vdp-datepicker__calendar,
    .date-time-picker.left .time-picker .dropdown{
        left: initial !important;
        right: 0 !important;
    }
    .date-time-picker.disable{
        opacity: 0.5;
    }
    .date-time-picker .mask{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }
    .date-time-picker .vdp-datepicker input[type="text"]{
        width: 74px;
    }
    .date-time-picker .vdp-datepicker,
    .date-time-picker .time-picker{
        float: left;
    }
    .date-time-picker .time-picker{
        margin-left: 3px;
    }
    .date-time-picker .time-picker,
    .date-time-picker .time-picker .display-time{
        width: 4.5em;
    }
</style>